<% provide(:logo, 'clear' ) %>

<script>
    $(document).ready(function() {
        $('.has-tooltip').tooltip();
        $('.has-popover').popover({
            //trigger: 'hover'
        });
    });
</script>

<%# if logged_in? %>

<div class="classroom-doors ">

  <% the_class = "col-sm-10 col-sm-offset-1 " + rtl_checker(I18n.locale).to_s + " classroom-doors-bottom" %>
     <div class="<%= the_class %>" id="classroom-doors-text-bg">
      <!-- <div class="classroom-doors-text-bg"> -->
       <p><%= t('classroom_doors.pI_html') %></p>

       <%
          temp = t('classroom_doors.knowledge_pI') + '<br><br>' + t('classroom_doors.knowledge_pII')
       %>
       <p class="center">
         <%= render 'shared/modal', button: t('classroom_doors.knowledge') , title: t('classroom_doors.knowledge'), body: temp, the_class: "btn btn-lg fat-text-button",count:1 %>
         <%# link_to t('classroom_doors.knowledge'), @topics, class: "btn btn-default", :data => {:colorbox => true, :colorbox_height => '70%', :colorbox_width => '60%', :colorbox_html => temp} %>
         </p>

       <p><%= t('classroom_doors.pII') %>
       <%= t('classroom_doors.knowledge_pIII') %>
         <%= t('classroom_doors.knowledge_pIV') %></p>
       <p class="center">
         <%# link_to t('classroom_doors.nature_note_button'), @topic, class: "btn btn-lg fat-text-button", :data => {:colorbox => true, :colorbox_height => '70%', :colorbox_width => '60%', :colorbox_html => t('classroom_doors.nature_note_html') } %>
         <%= render 'shared/modal', button: t('classroom_doors.nature_note_button') , title: t('classroom_doors.nature_note_button'), body: t('classroom_doors.nature_note_html'), the_class: "btn btn-lg fat-text-button",count: 2 %>
       </p>
         <%= t('classroom_doors.hope_gain_html') %>
       </p>
       <p class="center">
         <%= render 'shared/modal', button: t('classroom_doors.btn_why_grow') , title: t('classroom_doors.btn_why_grow'), body: t('classroom_doors.why_grow_html'), the_class: "btn btn-lg fat-text-button",count: 3 %>
         <%# link_to t('classroom_doors.btn_why_grow'), @topic, class: "btn btn-lg fat-text-button", :data => {:colorbox => true, :colorbox_height => '70%', :colorbox_width => '60%', :colorbox_html => t('classroom_doors.why_grow_html') } %>
       </p>
       <br>

       <div class="under-construction">
         <p>
           <%= t('classroom_doors.under_construction_I_html') %>
         </p>
         <p>
           <p>To view our current website in English (with limited Spanish content), visit:
             <a href='http://www.growbiointensive.org'>www.growbiointensive.org</a>
           </p>
         <p>
           Para ver nuestra página web actual en español, visita:
           <a href="http://www.cultivebiointensivamente.org">www.cultivebiointensivamente.org</a>
         </p>
         <%= t('classroom_doors.under_construction_II') %>
         </p>
       </div>

       <div>
         <h6 class="firm-butt">
           <%= link_to t('sessions.register'), signup_path, class: "btn btn-lg button-major-orange animated pulse infinite" %>
           <%= link_to t('sessions.log_in'), login_path, class: "btn btn-lg major-button" %>
           <%= link_to t('sessions.guest_enter'), topics_url, class: "btn btn-lg major-button" %>
         </h6>
       </div>
    </div>


<!-- popups and such YEAH!!!
  <button type="button" class="btn btn-link has-popover" data-toggle="popover" title="Notes" data-content="Hello ">View notes (popover)</button>

  <a tabindex="0" class="btn btn-lg btn-success has-popover" role="button" data-toggle="popover" data-trigger="focus" data-placement="top"  data-content="And here's some amazing content. It's very engaging. Right?">A note about knowledge</a>
-->


</div>

<%# else %>



<%# end %>
