<% provide(:logo, 'clear' ) %>

<% if logged_in? %>
    <script type="text/javascript">
        window.location.href="/topics"
    </script>

<% else %>
<%# I18n.locale.to_s %>

<div class="filled-container offset-jimbo big-butt big-top">
  <h4><%= link_to 'Select Your Language', home_path(locale: 'en') %> </h4>
  <h4><%= link_to '选择语言', home_path(locale: 'zh') %> </h4>
  <h4><%= link_to 'Seleccione su idioma', home_path(locale: 'es') %> </h4>
  <h4><%= link_to 'अपनी भाषा चुनें', home_path(locale: 'hi') %> </h4>
  <h4><%= link_to 'اختر لغتك', home_path(locale: 'ar') %> </h4>
  <h4><%= link_to 'Escolha seu idioma', home_path(locale: 'pt') %> </h4>
  <h4><%= link_to 'আপনার ভাষা পছন্দ করুন', home_path(locale: 'bn') %> </h4>
</div>

<% end %>