<% provide(:title, t('titles.library') ) %>
<% provide(:logo, 'library' ) %>
<div class="under-construction">
  <p>
    <%= t('library.disclaimer') %>
  </p>
    <p style="text-align:center;">
    <%= link_to t('library.btn_help_develop'), request_funding_url, class: "btn button-major-orange" %>
  </p>
  <span style="text-align:center;"></span>
</div>

<%# *** search %>
<div class="row row_fullwidth library_bg_color" style="">
  <div id="library" class="col-xs-12">
    <%= form_tag(library_path, :method => "get", id: "search-form") do %>
        <div class="input-group">
          <span class="input-group-btn">

            <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
              <span class="glyphicon glyphicon-search"></span>
            <% end %>
            <%# submit_tag '<span class="glyphicon glyphicon-search" aria-hidden="true"></span>', name: nil, class: 'btn btn-default' %>
          </span>
          <%= text_field_tag :search, params[:search], class: 'form-control' %>
          <% # , placeholder: "Search Topics" %>
        </div>
    <% end %>

<%= will_paginate @topics  %>
<% will_paginate @pubs %>
<br>
    <% if @pubs.present? %>
      <% @pubs.each do |pub| %>
        <%= render 'static_pages/pub', pub: pub %>
        <% end %>
    <% end %>
<br>

    <% if @topics.present? %>
      <% @topics.each do |topic| %>
        <%= render 'static_pages/topic', topic: topic %>
        <% end %>
    <% end %>
<br>
<% will_paginate @pubs %>
<%= will_paginate @topics %>

  </div>
</div>
