<% provide(:title, t('sessions.forgot_password') ) %>


<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1><%= t('sessions.forgot_password') %>></h1>
    <%= form_for(:password_reset, url: password_resets_path) do |f| %>
        <%= f.label( t('sessions.email') ) %>
        <%= f.email_field :email, class: 'form-control' %>

        <%= f.submit t('layouts.submit'), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>