<!-- col-sm-4 -->
<div id="<% if @temp_topic == 1 %>action-collumn<% end %>">
  <h5>
    <i class="fa fa-3x">
      <% $collumn_icon_1 = @topics[0]
         $collumn_icon_2 = @topics[1]
         $collumn_icon_3 = @topics[2]
      %>
      <% if @temp_topic != 1 && @topics.count > 0 %>
      <%= image_tag @topics[@temp_topic].icon.url, class: "trimmed-icon img-icon" %>
          <% end %>
    </i>
  <% if edit_mode ==1 %>
        <%= link_to '<i class="fa fa-plus-square edit-color"></i>'.html_safe, {:controller => "topics", :action => "new", :parent_id => @topics[@temp_topic].id, :language => 'en' }%>
        <% end %>
  </h5>

  <div class="list-group main-menu">
    <!-- library -->
    <% if @temp_topic == 0 %>
        <!-- <div class="list-group-item btn-default btn-main-menu button b1"> -->
              <%= link_to t('titles.library'), library_path, class: "list-group-item btn-default btn-main-menu button b1 button-text" %>
        <!-- </div> -->
    <% end %>


    <!-- main loop for the column -->
    <!-- still need to implement ordering. -->

    <% @topics[@temp_topic].kids.each do |t| %>
        <!-- current lang? -->
        <% if t.language == 0 || t.language == I18n.locale.to_s %>
          <% if t.category == 0 || t.category == nil %>
            <% if edit_mode==1 %>
                <div class="list-group-item btn-main-menu button <%= $index_column_colors[@temp_topic] %> <%= t.name.downcase.tr(' ','-') if t.name.present? %>-button-style">
                  <%= link_to '<i class="fa fa-edit edit-color"></i>'.html_safe, edit_topic_path(t), class: 'edit-color' %>
                  <%# link_to '<i class="fa fa-language edit-color"></i>'.html_safe, new_topic_path(original_id: t.id, :parent_id => t.parents.first.id) %>
                  <%= link_to t.name, t %><br>
                  <%= link_to '<i class="fa fa-plus-square edit-color"> Sub-Topic</i>'.html_safe, {:controller => "topics", :action => "new", :parent_id => t.id, :language => t.language }%>
                  <br>
                  <small> <%= link_to '<i class="fa fa-file edit-color">Attach Publication</i>'.html_safe, {:controller => "pubs", :action => "new", :parent_id => t.id }%> </small>
                  <div class="button-text-small">
                    <% t.kids.each do |tt| %>
                        <% if tt.category == 0 %>
                            <%= link_to tt.name, edit_topic_path(tt) %>
                        <% end %>
                    <% end %>
                  </div>
                </div>
            <!-- not edit mode -->
            <% else if t.name != nil %>
                        <% if t.originals.present?
                             the_class = t.originals.first.name
                           else
                             the_class = t.name
                           end
                           %>
                <a href="<%= topic_path(t) %>" class="list-group-item btn-default btn-main-menu button <%= $index_column_colors[@temp_topic] %> <%= the_class.downcase.tr(' ','-') %>-button-style">
                  <div class="button-text"> <%= t.name %>  </div>
                  <div class="button-text-small">
                    <% t.kids.each do |tt| %>
                        <% if tt.category == 0 %>
                          <%= tt.name %>
                            &nbsp
                        <% end %>
                  <% end %>
                  </div>
                </a>
             <% end %>
            <% end %>
          <% end %> <!-- main category -->
        <% end %> <!-- language 0 or 1 -->
    <% end %> <!-- main loop -->
    </div>
</div> <!-- close of the header icon -->


