<%
   #global vars
   $collumn_icon_1 = @topics[0]
   $collumn_icon_2 = @topics[1]
   $collumn_icon_3 = @topics[2]
%>

<div class="inherit_h" id="<% if @temp_topic == 1 %>action-column<% end %>">
  <h5>
    <i class="fa fa-3x">
      <% if @temp_topic != 1 && @topics.count > 0 %>
        <% if @temp_topic == 0 %>
            <%= link_to image_tag(@topics[@temp_topic].icon.url, class: "trimmed-icon img-icon"), topic_path(id: 1)  %>
          <% else %>
            <%= image_tag @topics[@temp_topic].icon.url, class: "trimmed-icon img-icon" %>
          <% end %>
      <% end %>
    </i>
    <% if edit_mode ==1 %>
      <%= link_to '<i class="fa fa-plus-square edit-color"></i>'.html_safe, {:controller => "topics", :action => "new", :parent_id => @topics[@temp_topic].id, :language => 'en' }%>
    <% end %>
  </h5>


  <div class="list-group main-menu column_index">
    <!-- library -->
    <% if @temp_topic == 0 %>
        <!-- <div class="list-group-item btn-default btn-main-menu button b1"> -->
        <% the_class = "list-group-item  btn-main-menu button b1  " + rtl_checker(I18n.locale).to_s %>
        <a href="<%= library_path %>" class="<%= the_class %>">
          <%= image_tag 'icon_library.png', class: 'topic-col-icon' %>
          <div class="button-text"><%= t('titles.library') %></div>
        </a>
        <!-- </div> -->
    <% end %>


    <!-- main loop for the column -->
    <!-- still need to implement ordering. -->

    <% @topics[@temp_topic].kids.order(:order).each do |t| %>
        <%# cache ['topic_entry', t] do %>
        <!-- current lang? -->
        <% if t.language == 0 || t.language == I18n.locale.to_s %>
          <% if t.category == 0 || t.category == nil %>
            <% if edit_mode==1 %>
                <div class="list-group-item btn-main-menu button <%= $index_column_colors[@temp_topic] %> <%= t.name.downcase.tr(' ','-') if t.name.present? %>-button-style">
                  <%# link_to '<i class="fa fa-edit edit-color"></i>'.html_safe, edit_topic_path(t), class: 'edit-color' %>
                  <%# link_to '<i class="fa fa-language edit-color"></i>'.html_safe, new_topic_path(original_id: t.id, :parent_id => t.parents.first.id) %>
                  <%= link_to t.name, t %><br>
                  <%= link_to '<i class="fa fa-plus-square edit-color"> Sub-Topic</i>'.html_safe, {:controller => "topics", :action => "new", :parent_id => t.id, :language => t.language }%>
                  <br>
                  <small> <%= link_to '<i class="fa fa-file edit-color">Attach Publication</i>'.html_safe, {:controller => "pubs", :action => "new", :parent_id => t.id }%> </small>
                  <div class="button-text-small">
                    <% t.kids.each do |tt| %>
                        <% if tt.category == 0 %>
                            <%= link_to tt.name, tt %>
                        <% end %>
                    <% end %>
                  </div>
                </div>

            <!-- not edit mode -->

            <% else if t.name != nil %>
                        <% color_class = ''
                           #if params[:id].present? && params[:id].to_i == t.id
                           if @active_column.present? && @active_main_menu.id == t.id
                                color_class = 'btn-a'
                              else
                              color_class = $index_column_colors[@temp_topic]
                           end

                           if t.originals.present?
                             the_class = t.originals.first.name
                           else
                             the_class = t.name
                           end
                           the_class = the_class.downcase
                           the_class = the_class.gsub(/[^0-9a-z ]/, '')
                           the_class = the_class.downcase.tr(' ','-') + '-button-style'
                           # now check for placeholder
                           if t.placeholder == TRUE
                            the_class = the_class + ' placeholder'
                           end
                        %>

                <a href="<%= topic_path(t) %>#<%= t.name %>" class="list-group-item btn-default btn-main-menu button <%= color_class %> <%= the_class %> <%= rtl_checker(t.language) %> ">
                  <div class="button-text"> <%= t.name %></div>
                  <div class="button-text-small">
                    <% t.kids.each do |tt| %>
                        <% if tt.category == 0 %>
                          <%= tt.name %>
                            &nbsp
                        <% end %>
                  <% end %>
                  </div>
                </a>
                <% if @topic.present? && top_topic(@topic) == t %>
                  <div id="<%= t.name if @jumper == 1 %>" style="height:inherit;display:inline-block;" class="col-sm-8 topic_show_window_small">
                    <%= render 'sub_topics_menu' %>
                    <%= render partial: 'topics/content_window_params', locals: {show_topic: @topic, show_pub: @show_pub} %>
                  </div>
                <% end %>
             <% end %>
            <% end %>
          <% end %> <!-- main category -->
        <% end %> <!-- language 0 or 1 -->
            <%# end %> <!-- caching -->
    <% end %> <!-- main loop -->
    </div>
</div> <!-- close of the header icon -->
