<% if @temp_topic == 0 %>
<div class="col-sm-4">
  <h5> <i class="fa fa-book fa-3x c1"></i> </h5>
    <% else if @temp_topic == 1 %>
        <div class="col-sm-4">
          <h5> <i class="fa fa-3x c2"><%= image_tag 'shovel_flat.png', class: "img-hi-responsive trimmed-icon" %></i> </h5>
    <% else if @temp_topic == 2 %>
            <div class="col-sm-4">
              <h5> <i class="fa fa-globe fa-3x c3"></i> </h5>
        <% end %>
    <% end %>
<% end %>

        <div class="list-group main-menu">
          <!-- <div class="list-group main-menu"> -->
          <% @topics[@temp_topic].kids.each do |t| %>
              <% if t.language == 0 || t.language == 1 %>

                <% if @temp_topic == 0 %>
                <div class="list-group-item btn-default btn-main-menu button b1">
                <!-- <div class="list-group-item btn-main-menu b1"> -->
                  <% else if @temp_topic == 1 %>
                    <div class="list-group-item btn-default btn-main-menu button b2">
                      <% else if @temp_topic == 2 %>
                        <div class="list-group-item btn-default btn-main-menu button b3">
                      <% end %>
                <% end %>
              <% end %>



          <% if edit_mode==1 %>
              <%= link_to '<i class="fa fa-edit"></i>'.html_safe, edit_topic_path(t) %>
          <% end %>

          <%= link_to t.name, t %>

              <% if edit_mode == 1 %>
                  <div class="real-small">
                  <%# link_to 'create translation', {:controller => "topics", :action => "create", :id => t.id, :name => t.name }%>
                    <%= link_to 'Create Sub-Topic ', {:controller => "topics", :action => "new", :parent_id => t.id }%>
                    ||
                    <%= link_to ' Create Translation ', {:controller => "topics", :action => "new", :original_id => t.id, :parent_id =>t.parents.first.id }%>
                    ||
                    <%= link_to ' Attach Publication', {:controller => "pubs", :action => "new", :parent_id => t.id }%>
                  </div>
                  <% else %>
              <br>
              <% end %>

              <% t.kids.each do |tt| %>

                  <sb><%= link_to tt.name, tt %>

                    </sb>
              <% end %>
              </div>
<% end %>
    <% end %>
    </div>
</div>


