
<% has_sub_cats = FALSE %>
<% @topic.kids.each do |t| %>
    <% if t.category > 0 %>
        <% has_sub_cats = TRUE %>
    <% end %>
<% end %>

<div id="content-window" class="content_window
                                            <% if @topic.pubs.present? && has_sub_cats == TRUE  %>
                                            content-window-size-1
                                            <% else if !@topic.pubs.present? && has_sub_cats == TRUE %>
                                            content-window-size-2
                                            <% else if @topic.pubs.present? && has_sub_cats == FALSE %>
                                            content-window-size-2
                                            <% else %>
                                            content-window-size-3
                                            <% end %>
                                            <% end %>
                                            <% end %>
                                            ">


  <% if @show_pub.present? %> <!-- maybe render a pub in dis here window -->
      <div class="col-md-8">
        <% if @show_pub.media.content_type == "application/pdf" %>
            <div class="pdf-viewer">
              <iframe src="<%= @show_pub.media.url %>" width="100%" height="100%"></iframe>
            </div>
        <% else %>
            <%= image_tag @show_pub.media.url %>
        <% end %>
      </div>
      <div class="col-md-4">
        <h3><%= render partial: 'shared/pub_link_to', locals: {t: @show_pub} %></h3>

        <strong><%= @show_pub.media.content_type %></strong>
        <br>
        <%= number_to_human_size(@show_pub.media.size) %>
      </div>

  <% else %> <!-- render the topic -->
<% there_is_a_topic_in_the_content_window = TRUE %>
      <h3>
        <% if edit_mode == 1 %>
            <%= link_to '<i class="fa fa-edit edit-color"></i>'.html_safe, edit_topic_path(@topic) %>
            <%= link_to '<i class="fa fa-language edit-color"></i>'.html_safe, new_topic_path(original_id: @topic.id, :parent_id => @topic.parents.first.id) %>
        <% end %>

        <!-- NAME -->
        <% if @topic.icon.present? %>
            <%= image_tag @topic.icon.url, class: "img-icon" %>
        <% end %>
        <%= @topic.name %>

      </h3>

      <% if edit_mode == 1 %>
          <!-- debuggin stuff
          <h2><small>
            Skill Level <strong><%= $available_skills[@topic.skill] unless !@topic.skill.present?%></strong>
            Category <strong><%= $available_categories[@topic.category] unless !@topic.category.present? %></strong>
            Language <strong><%= @topic.language unless !@topic.language.present? %></strong>
            placeholder <strong><%= @topic.placeholder %></strong>

          </small></h2>
          -->
      <% end %>


      <%=@topic.main_content.html_safe %>

      <% if @topic.placeholder == TRUE %>
        <%= render 'shared/placeholder' %>
      <% else if @topic.growing == TRUE %>
        <%= render 'shared/growing' %>
          <% end %>
          <% end %>




  <% end %> <!-- end of controll for pub or content window -->

</div>

<!-- translations available -->
<div id="below-content-window">

  <% if @topic.translations.present? && there_is_a_topic_in_the_content_window %>
      <% @topic.translations.each do |trans| %>
          <%= link_to $av_langs_hash[trans.language], trans %>
      <% end %>
  <% else if @topic.originals.present? %>
          <% @topic.originals.each do |trans| %>
              <%= link_to $av_langs_hash[trans.language], trans %>
              <% if trans.translations.present? %>
                  <% trans.translations.each do |trans2| %>
                      <% if trans2.id != @topic.id %>
                          <%= link_to $av_langs_hash[trans2.language], trans2 %>
                      <% end %>
                  <% end %>
              <% end %>
          <% end %>
      <% end %>
  <% end %>

  <% if @show_pub.present? && @show_pub.translations.present? %>

   <% end %>



  <div class="nav pull-right">
    <% if @show_pub.present? %>
        <%= link_to '<span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>'.html_safe, @show_pub.media.url, :data => { :colorbox => true, :colorbox_height => '90%', :colorbox_width => '90%', :colorbox_iframe => true, :colorbox_className => 'b0' } %>
    <% else if there_is_a_topic_in_the_content_window == TRUE %>
            <%= link_to '<span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>'.html_safe, @topic, :data => { :colorbox => true, :colorbox_height => '90%', :colorbox_width => '90%', :colorbox_html => @topic.main_content.html_safe } %>
    <% end %>
        <% end %>


              </div>
</div> <!-- end of extra lang and fullscreen -->


<!-- pubs supplimentary files -->
<% if @topic.pubs.count > 0 || edit_mode == 1 %>
<div id="supplimental-window" class="content_window">

  <% if edit_mode == 1 %>
      <!-- new suplimental files -->
      <div>
        <%= link_to '<i class="fa fa-plus-square fa-1x edit-color">Create New Supplemental File</i>'.html_safe, new_pub_path(parent_id: @topic.id) %>
      </div>
  <% end %>


  <div class="col-xs-4">
    <p class="center"> <%= image_tag("icon_skills_1.png", size: "29") %> </p>

        <div class="tight-list">
          <% @topic.pubs.each do |t| %>
              <% if t.skill <= 1 %>
                  <%= render partial: 'shared/pub_link_to', locals: {t: t} %>
              <% end %>
          <% end %>
        </div>

  </div>

  <div class="col-xs-4 col-borders">
    <p class="center"> <%= image_tag("icon_skills_2.png", size: "29") %> </p>

        <% @topic.pubs.each do |t| %>
            <% if t.skill == 2 %>
                <%= render partial: 'shared/pub_link_to', locals: {t: t} %>
            <% end %>
        <% end %>

  </div>

  <div class="col-xs-4">
    <p class="center"> <%= image_tag("icon_skills_3.png", size: "29") %> </p>

        <% @topic.pubs.each do |t| %>
            <% if t.skill == 3 %>
                <%= render partial: 'shared/pub_link_to', locals: {t: t} %>
            <% end %>
        <% end %>

  </div>


</div> <!-- end of supplimental window -->
<% end %>

<% if has_sub_cats == TRUE || edit_mode ==1 %>
<!-- category window -->
<div id="category-window" class="content_window tight-top">
  <% if edit_mode == 1 %>
      <div>
        <%= link_to '<i class="fa fa-plus-square edit-color">Create Sub Category (Peak, I, II, III)</i>'.html_safe, {:controller => "topics", :action => "new", :parent_id => @topic.id }%>
      </div>
  <% end %>
  <% @topic.kids.each do |t| %>

      <div class="col-md-3">
        <% if t.category == 4 %>
            peak<%= link_to t.name, t, class: "btn btn-default" %>
        <% end %>
      </div>

      <div class="col-md-3">
        <% if t.category == 1 %>
            CAT 1 <%= link_to t.name, t, class: "btn btn-default" %>
        <% end %>
      </div>

      <div class="col-md-3">
        <% if t.category == 2 %>
            CAT 2 <%= link_to t.name, t, class: "btn btn-default" %>
        <% end %>
      </div>

      <div class="col-md-3">
        <% if t.category == 3 %>
            CAT 3<%= link_to t.name, t, class: "btn btn-default" %>
        <% end %>
      </div>

  <% end %>
</div> <!-- end of cat window -->
    <% end %>


<%= link_to '<i class="fa fa-close fa-3x"></i>'.html_safe, topics_path, class: "btn-kill"  %>
