<% has_sub_cats = FALSE %>
<% sub_cats = @topic %>

<% @topic.kids.each do |t| %>
    <% if t.category > 0 %>
        <% has_sub_cats = TRUE %>
    <% end %>
<% end %>

<% if @topic.category && @topic.category > 0 %>

    <% sub_cats = @topic.parents.first %>
    <% has_sub_cats = TRUE %>
    <% sub_cat_active = TRUE %>

    <% if @topic.parents.first.category == 0
        intro_topic = @topic.parents.first
       else
        intro_topic = @topic.parents.first.parents.first || FALSE %>
    <% end %>
    <% else %>
    <% intro_topic = @topic %>


<% end %>

<% rtl_class = rtl_checker %>



<%= link_to '<i class="fa fa-close fa-2x"></i>'.html_safe, topics_path, class: "btn-kill" %>
<div id="content-window" class="content_window
                                            <% if @topic.pubs.present? && has_sub_cats == TRUE %>
                                            content-window-size-1
                                            <% else
                                                                                                                                                                                  if !@topic.pubs.present? && has_sub_cats == TRUE %>
                                            content-window-size-2
                                            <% else
                                                                                                                                                                                                                                                                                      if @topic.pubs.present? && has_sub_cats == FALSE %>
                                            content-window-size-2
                                            <% else %>
                                            content-window-size-3
                                            <% end %>
                                            <% end %>
                                            <% end %>
                                            ">




  <% if @show_pub.present? %> <!-- maybe render a pub in dis here window -->
      <div class="col-md-8">
        <% if @show_pub.media.content_type == "application/pdf" %>
            <div class="pdf-viewer">
              <iframe src="<%= @show_pub.media.url %>" width="100%" height="100%" frameborder="0"></iframe>
            </div>
        <% else if @show_pub.media.content_type == 'video/mp4' || @show_pub.media.content_type == 'application/mp4' %>
                <div class="video-viewer">
                  <iframe src="<%= @show_pub.media.url %>" width="100%" height="100%" frameborder="0"></iframe>
                </div>
        <% else %>
            <%= image_tag @show_pub.media.url %>
        <% end %>
            <% end %>
      </div>
      <div class="col-md-4">
        <h3><%= render partial: 'shared/pub_link_to', locals: {t: @show_pub} %></h3>

        <% if @show_pub.media.content_type == 'application/pdf' %>
            PDF_
        <% end %>
        <%= number_to_human_size(@show_pub.media.size) %>
      </div>

  <% else %> <!-- render the topic -->
      <% there_is_a_topic_in_the_content_window = TRUE %>
      <div class="<%= rtl_checker %>">
      <h3>
        <% if edit_mode == 1 && @topic.parents.present? %>
            <%= link_to '<i class="fa fa-edit edit-color"></i>'.html_safe, edit_topic_path(@topic) %>
            <!-- new translations link NOT USING RIGHT NOW-->
            <%# link_to '<i class="fa fa-language edit-color"></i>'.html_safe, new_topic_path(original_id: @topic.id, :parent_id => @topic.parents.first.id) %>
        <% end %>

        <!-- NAME -->
        <% if @topic.category.present? && @topic.category > 0
             tt = @topic.parents.first
             if !tt.name.present?
               tt.name =''
             else
               tt.name = tt.name + ' ' + $available_categories[@topic.category]
             end
           else
             tt = @topic
           end
        %>
        <% if tt.icon.present? %>
            <%= image_tag tt.icon.url, class: "img-icon" %>
        <% end %>
        <%# if @topic.name != nil %>
        <%= tt.name %>
        <%# end %>
      </h3>
      </div>

      <% if edit_mode == 1 %>
          <!-- debuggin stuff
          <h2><small>
            Skill Level <strong><%= $available_skills[@topic.skill] unless !@topic.skill.present? %></strong>
            Category <strong><%= $available_categories[@topic.category] unless !@topic.category.present? %></strong>
            Language <strong><%= @topic.language unless !@topic.language.present? %></strong>
            placeholder <strong><%= @topic.placeholder %></strong>

          </small></h2>
          -->
      <% end %>

      <% if !@topic.main_content.present?
           @topic.main_content = ''
         end %>



      <% if @topic.placeholder == TRUE %>
          <%= render 'shared/placeholder' %>
      <% else if @topic.growing == TRUE %>
              <%= render 'shared/growing' %>
              <% else %>
              <div style="height:100%; width:100%" class="<%= rtl_class %>">
                <%= raw @topic.main_content %>
              </div>
          <% end %>
      <% end %>


  <% end %> <!-- end of controll for pub or content window -->

</div>

<!-- translations available -->
<div id="below-content-window">

  <% if @topic.translations.present? && there_is_a_topic_in_the_content_window %>
      <% @topic.translations.each do |trans|
        if trans.name != nil %>
              <%= link_to $av_langs_hash[trans.language], trans %>
          <% end %>
      <% end %>
  <% else
       if @topic.originals.present? %>
          <% @topic.originals.each do |trans| %>
              <%= link_to $av_langs_hash[trans.language], trans %>
              <% if trans.translations.present? %>
                  <% trans.translations.each do |trans2|
                    if trans2.name != nil %>
                          <% if trans2.id != @topic.id %>
                              <%= link_to $av_langs_hash[trans2.language], trans2 %>
                          <% end %>
                      <% end %>
                  <% end %>
              <% end %>
          <% end %>
      <% end %>
  <% end %>

  <% if @show_pub.present? && @show_pub.translations.present? %>

  <% end %>



  <div class="nav pull-right">
    <% if @show_pub.present? %>
        <%= link_to '<span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>'.html_safe, @show_pub.media.url, :data => {:colorbox => true, :colorbox_height => '90%', :colorbox_width => '90%', :colorbox_iframe => true, :colorbox_className => 'b0'} %>
    <% else
         if there_is_a_topic_in_the_content_window == TRUE && @topic.growing == FALSE && @topic.placeholder == FALSE %>
            <%= link_to '<span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>'.html_safe, @topic, :data => {:colorbox => true, :colorbox_height => '90%', :colorbox_width => '90%', :colorbox_html => @topic.main_content} %>
            <!-- BS MODAL --> <%# render 'shared/modal', button: '<span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>', title: '', body: @topic.main_content %>
        <% end %>
    <% end %>


  </div>
</div> <!-- end of extra lang and fullscreen -->


<!-- pubs supplimentary files -->
<% if @topic.pubs.count > 0 || edit_mode == 1 %>
    <div id="supplimental-window" class="content_window">

      <% if edit_mode == 1 %>
          <!-- new suplimental files -->
          <div>
            <%= link_to '<i class="fa fa-plus-square fa-1x edit-color">Create New Supplemental File</i>'.html_safe, new_pub_path(parent_id: @topic.id) %>
          </div>
      <% end %>


      <div class="col-xs-4">
        <p class="center"> <%= image_tag("icon_skills_1.png", size: "29") %> </p>

        <div class="tight-list">
          <% @topic.pubs.each do |t| %>
              <% if t.skill <= 1 %>
                  <%= render partial: 'shared/pub_link_to', locals: {t: t} %>
              <% end %>
          <% end %>
        </div>

      </div>

      <div class="col-xs-4 col-borders">
        <p class="center"> <%= image_tag("icon_skills_2.png", size: "29") %> </p>

        <div class="tight-list">
        <% @topic.pubs.each do |t| %>
            <% if t.skill == 2 %>
                <%= render partial: 'shared/pub_link_to', locals: {t: t} %>
            <% end %>
        <% end %>
        </div>
      </div>

      <div class="col-xs-4">
        <p class="center"> <%= image_tag("icon_skills_3.png", size: "29") %> </p>

        <div class="tight-list">
        <% @topic.pubs.each do |t| %>
            <% if t.skill == 3 %>
                <%= render partial: 'shared/pub_link_to', locals: {t: t} %>
            <% end %>
        <% end %>
        </div>
      </div>


    </div>
<% end %>
<!-- end of supplimental window -->

<!-- category window TABS -->
<% if has_sub_cats == TRUE || edit_mode ==1 %>

    <div id="category-window" class="content_window tight-top
      <% if edit_mode == 1 %> clr4
      <% end %>
      ">


        <%
           peak = false
           one = false
           two = false
           three = false
        %>

      <!-- intro tab -->

        <% if intro_topic.present? %>
            <% the_class = tab_active(intro_topic) %>
        <% end %>
      <!-- intro tab
      <div class="col-xs-2 tab-cat0">
        <% if edit_mode == 1 %>
            <%# link_to image_tag("icon-tabs-cat-0.png", class: the_class), edit_topic_path(intro_topic) %>
        <% else %>
            <%# link_to image_tag("icon-tabs-cat-0.png", class: the_class), intro_topic %>
        <% end %>
        <%# t('layouts.introduction_tab') %>

      </div>
-->
      <!-- peak -->


      <!-- peak tab -->
        <div class="tab-div-4">
          <% sub_cats.kids.each do |t| %>
              <% if t.category == 4 %>
                  <% the_class = tab_active(t) %>
                  <% if edit_mode ==1 %>
                      <%= link_to image_tag("icon-tabs-cat-4.png", class: the_class), edit_topic_path(t) %>
                  <% else %>
                      <%= link_to image_tag("icon-tabs-cat-4.png", class: the_class), t %>
                  <% end %>
                  <% peak = true %>
              <% end %>
          <% end %>
          <% if edit_mode == 1 && peak == false %>
              <%= link_to '<h3 class="edit-color center">PEAK <i class="fa fa-plus-square edit-color"></i></h3>'.html_safe, {:controller => "topics",
                                                                                                                             :action => "new",
                                                                                                                             :parent_id => sub_cats.id,
                                                                                                                             :language => @topic.language,
                                                                                                                             :category => 4}
              %>
          <% end %>
        </div>

      <!-- tab 1 -->
        <div class="tab-div-1">
          <% sub_cats.kids.each do |t| %>
              <% if t.category == 1 %>
                  <%
                     the_class = tab_active(t)
                     if t.placeholder == TRUE
                       the_class = the_class + ' placeholder'
                     end
                  %>

                  <% if edit_mode ==1 %>
                      <%= link_to image_tag("icon-tabs-cat-1.png", class: the_class), edit_topic_path(t) %>
                      <% else %>
                  <%= link_to image_tag("icon-tabs-cat-1.png", class: the_class), t %>
                      <% end %>
                  <% one = true %>
              <% end %>
          <% end %>
          <% if edit_mode == 1 && one == false %>
              <%= link_to '<h3 class="edit-color center">I <i class="fa fa-plus-square edit-color"></i></h3>'.html_safe, {:controller => "topics", :action => "new", :parent_id => sub_cats.id, :language => @topic.language, :category => 1} %>
          <% end %>
        </div>


        <div class="tab-div-2">
          <% sub_cats.kids.each do |t| %>
              <% if t.category == 2 %>
                  <%
                     the_class = tab_active(t)
                     if t.placeholder == TRUE
                       the_class = the_class + ' placeholder'
                     end
                  %>
                  <% if edit_mode ==1 %>
                      <%= link_to image_tag("icon-tabs-cat-2.png", class: the_class), edit_topic_path(t) %>
                  <% else %>
                      <%= link_to image_tag("icon-tabs-cat-2.png", class: the_class), t %>
                  <% end %>
                  <% two = true %>
              <% end %>
          <% end %>
          <% if edit_mode == 1 && two == false %>
              <%= link_to '<h3 class="edit-color center">II <i class="fa fa-plus-square edit-color"></i></h3>'.html_safe, {:controller => "topics", :action => "new", :parent_id => sub_cats.id, :language => @topic.language, :category => 2} %>
          <% end %>
        </div>

        <div class="tab-div-3">
          <% sub_cats.kids.each do |t| %>
              <% if t.category == 3 %>
                  <%
                     the_class = tab_active(t)
                     if t.placeholder == TRUE
                       the_class = the_class + ' placeholder'
                     end
                  %>
                  <% if edit_mode ==1 %>
                      <%= link_to image_tag("icon-tabs-cat-3.png", class: the_class), edit_topic_path(t) %>
                  <% else %>
                      <%= link_to image_tag("icon-tabs-cat-3.png", class: the_class), t %>
                  <% end %>
                  <% three = true %>
              <% end %>
          <% end %>
          <% if edit_mode == 1 && three == false %>
              <%= link_to '<h3 class="edit-color center">III <i class="fa fa-plus-square edit-color"></i></h3>'.html_safe, {:controller => "topics", :action => "new", :parent_id => sub_cats.id, :language => @topic.language, :category => 3} %>
          <% end %>
        </div>

       </div>




    </div> <!-- end of cat window -->
<% end %>



