<%= form_for(@topic) do |f| %>
    <% if @topic.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@topic.errors.count, "error") %> prohibited this topic from being saved:</h2>
            <ul>
            <% @topic.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
            </ul>
        </div>
    <% end %>

    <div class="field">
        <%= f.label :name %><br>
        <%= f.text_area :name %>
    </div>

    <div class="field">
        <%= f.label :main_content %><br>
        <%= f.text_area :main_content %>
    </div>

    <div class="field">
      <%= f.label :skill_level %><br>
      <%= f.select(:skill, [[1,1],[2,2],[3,3]] ) %>
    </div>

    <% f.fields_for :parents, @topic.parents do |t| %>
        <%=t.collection_select :parents, Topic.all, :id, :name %>
        <% end %>



    <div class="field">
      <%= f.label :parents %><br>
      <%= f.collection_select(:parents, Topic.all, :id, :name) %>



    </div>



    <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
