<div class="edit-form" id="edit-form">
<%= form_for(@topic, html: { multipart: true }) do |f| %>

      <!-- errors -->
    <% if @topic.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@topic.errors.count, "error") %> prohibited this topic from being saved:</h2>
            <ul>
            <% @topic.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
            </ul>
        </div>
    <% end %>

      <!-- #parent topic stuff -->
    <% if @parent_topic %>
          <h3>Sub-Topic of <strong><%= @parent_topic.name %></strong></h3>
          <%= hidden_field_tag :parent_id, @parent_topic.id %>
    <% end %>

      <!-- #translation hidden field stuff -->
    <% if @original_topic %>
        <h3>Translation of <strong><%= @original_topic.name %></strong></h3>
        <%= hidden_field_tag :original_id, @original_topic.id %>
    <% end %>


    <div class="field">
        <%= f.label :name %><br>
        <%= f.text_area :name %>
    </div>

    <div class="field">
      <%= f.label :language %><br>
      <%= f.select(:language, $available_languages) %>
    </div>


      <%# f.label :is_it_a_translation, class: "checkbox inline" do %>
          <%# f.check_box :translation %>
          <!-- <span>Remember me on this computer</span> -->
      <%# end %>

    <div class="col-sm-6">
        <%= f.label :placeholder, class: "checkbox inline" do %>
            <%= f.check_box :placeholder %>
            <span><strong>Placeholder:</strong><br> greyed out with "Not Yet Grown Content" message</span>
        <% end %>
    </div>
    <div class="col-sm-6">
        <%= f.label :growing, class: "checkbox inline" do %>
            <%= f.check_box :growing %>
            <span><strong>Under Development:</strong><br> active button with "We are Growing Content" message</span>
        <% end %>
    </div>






      <div class="field">
        <%= f.label :icon_image %>
       <span class="picture">
      <%= f.file_field :icon, accept: 'image/jpeg,image/gif,image/png,application/pdf' %>
    </span>
        </div>

      <script type="text/javascript">
          $('#topic_icon').bind('change', function() {
              size_in_megabytes = this.files[0].size/1024/1024;
              if (size_in_megabytes > 5) {
                  alert('Maximum file size is 5MB. Please choose a smaller file.');
              }
          });
      </script>

      <!-- main content -->
    <div class="field">
        <%= f.label $available_categories[0] %><br>
        <%= f.text_area :main_content, :size => "2x10" %>
    </div>

      <!--
      <input type="button" value="Add New Text" onClick="addtext();"></p>
      <script type="text/javascript">
          function addtext() {

              document.getElementById("insert").innerHTML = document.topic_main_content.value;
          }
      </script>
-->




    <div class="field">
      <%= f.label :skill_level %><br>

      <% count =0 %>
      <% hash = [] %>
      <% while count < $available_skills.count do %>
          <% hash << [$available_skills[count],count] %>

          <% count+=1 %>
      <% end %>
      <%= f.select(:skill, hash ) %>
    </div>


      <div class="field">
        <%= f.label :Category %><br>
        <%# f.select(:category, [['Main',0],['Category 1',1],['Category 2',2]] ) %>
        <% count =0 %>
        <% hash = [] %>
        <% while count < $available_categories.count do %>
            <% hash << [$available_categories[count],count] %>

            <% count+=1 %>
        <% end %>
        <%= f.select(:category, hash ) %>
      </div>






    <div class="field">
      <%# f.label :parent %><br>
      <%# f.collection_select(:parents, Topic.all, :id, :name) %>
    </div>

    <div class="actions">
      <%= f.submit "Go Live", class: "btn btn-primary" %>
    </div>

<% end %>
  </div>



<div>
  <p id="insert">

  </p>
</div>


