<div class="edit-form" id="edit-form">
  <%= form_for(@topic, html: {multipart: true, class: "form-horizontal"}) do |f| %>

      <!-- errors -->
      <% if @topic.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@topic.errors.count, "error") %> prohibited this topic from being saved:</h2>
            <ul>
              <% @topic.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <!-- #parent topic stuff -->
      <% if @parent_topic %>
          <%= hidden_field_tag :parent_id, @parent_topic.id %>
      <% end %>

      <!-- #translation hidden field stuff -->
      <% if @original_topic %>
          <h3>Translation of <strong><%= @original_topic.name %></strong></h3>
          <%= hidden_field_tag :original_id, @original_topic.id %>
      <% end %>

      <%
         if params[:category].present?
           the_cat = params[:category].to_i
         else
           the_cat = 0
         end

         if @topic.category.present?
           if @topic.category == 0
             topic = TRUE
           else
             topic = FALSE
           end
         else
           if the_cat > 0
             topic = FALSE
           else
             topic = TRUE
           end
         end
      %>

      <% rtl_class = rtl_checker %>

      <% if topic == TRUE %>
          <div class="form-group">
            <%= f.label :name, "Name!:", class: "form-inline" %>
            <%= f.text_field :name, class: rtl_class +' form-control' %>
          </div>
      <% end %>

          <div class="form-group checkbox-inline">
            <%= f.label :major_update do %>
                <%= f.check_box :major_update, class: 'form-control' %>
                <strong>New Version?</strong> (Significant Edits)
            <% end %>
          </div>



          <div class="form-group form-inline">
            <%= f.label :icon_image %>
            <span class="picture">
              <%= f.file_field :icon, accept: 'image/jpeg,image/gif,image/png,application/pdf'  %>
            </span>
          </div>

      <div class="form-group checkbox-inline">
        <%= f.label :placeholder do %>
            <%= f.check_box :placeholder %>
            <span><strong>Placeholder:</strong> greyed out with "Not Yet Grown Content" message</span>
        <% end %>
      </div>
      <br>

      <div class="form-group checkbox-inline">
        <%= f.label :growing do %>
            <%= f.check_box :growing, class: 'checkbox-inline' %>
            <span><strong>Under Development:</strong> active button with "We are Growing Content" message</span>
        <% end %>
      </div>


      <script type="text/javascript">
          $('#topic_icon').bind('change', function () {
              size_in_megabytes = this.files[0].size / 1024 / 1024;
              if (size_in_megabytes > 10) {
                  alert('Maximum file size is 10MB. Please choose a smaller file.');
              }
          });
      </script>

      <!-- main content -->

      <div class="form-group">
        <%= f.label $available_categories[0] %><br>
        <%= f.bootsy_area :main_content, size: "2x10", class: rtl_class %>
      </div>

      <!--
      <input type="button" value="Add New Text" onClick="addtext();"></p>
      <script type="text/javascript">
          function addtext() {

              document.getElementById("insert").innerHTML = document.topic_main_content.value;
          }
      </script>
-->


      <!--

    <div class="field">
      <%# f.label :skill_level %><br>

      <%# count =0
       hash = []
       while count < $available_skills.count do
           hash << [$available_skills[count],count]

           count+=1
       end %>
      <%# f.select(:skill, hash ) %>
    </div>

-->
      <div class="form-group">
        <%= f.label :category %><br>
        <%# f.select(:category, [['Main',0],['Category 1',1],['Category 2',2]] ) %>
        <% count =0 %>
        <% hash = [] %>
        <% while count < $available_categories.count do %>
            <% hash << [$available_categories[count], count] %>

            <% count+=1 %>
        <% end %>
        <%# f.select(:category, hash, value: params[:category] ) %>

        <% if params[:category].present? %>
            <%= f.select(:category, $available_categories_numbered, class:'form-control', :selected => params[:category]) %>
        <% else %>
            <%= f.select(:category, $available_categories_numbered, class:'form-control') %>
        <% end %>
      </div>

      <div class="actions">
        <%= f.submit "SAVE!", class: "btn btn-danger" %>
      </div>

      <% if params[:language].present? %>
          <%= f.label :language %>
          <%# hidden_field_tag :language, params[:language] %>
          <%= f.select(:language, $available_languages, :selected => params[:language]) %>
      <%# else %>
          <%# @topic.language %>
          <%# hidden_field_tag :language, "en" %>
          <%# f.select(:language, $available_languages) %>
      <% end %>

  <% end %>
</div>



<div>
  <p id="insert">

  </p>
</div>
