<div class="topic-form">
<%= form_for(@topic, html: { multipart: true }) do |f| %>

    <% if @topic.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@topic.errors.count, "error") %> prohibited this topic from being saved:</h2>
            <ul>
            <% @topic.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
            </ul>
        </div>
    <% end %>

      <!-- #parent topic stuff -->
    <% if @parent_topic %>
        <h3>Subcategory Topic of <strong><%= @parent_topic.name %></strong></h3>

        <%= hidden_field_tag :parent_id, @parent_topic.id %>
        <% else %>
          <div class="field">
            <!-- Create this Topic as a sub-category of existing Topic? ( Leave blank if no change is desired) -->
<!-- broken parent_id -->
            <%# f.label :new_parent_id %>
            <%# f.number_field :parent_id %>
          </div>

<% end %>

      <!-- #translation hidden field stuff -->
      <% if @original_topic %>
          <h3>Translation of <strong><%= @original_topic.name %></strong></h3>
          <%= hidden_field_tag :original_id, @original_topic.id %>
      <% end %>


      <div class="field">
        <%= f.label :name %><br>
        <%= f.text_area :name %>
    </div>

    <div class="field">
      <%= f.label :language %><br>
      <%# f.select(:language, [['English',1],['Hindi',2],['Arabic',3],['Spanish',4],['Portuguese',5],['Bengali',6]] ) %>
      <% count =0 %>
      <% hash = [] %>
      <% while count < $available_languages.count do %>
        <% hash << [$available_languages[count],count] %>

        <% count+=1 %>
        <% end %>
      <%= f.select(:language, hash ) %>
    </div>


      <div class="field">
        <%= f.label :is_it_a_translation %>
        <%= f.check_box :translation %>
      </div>

      <div class="field">
        <%= f.label :icon_image %>
       <span class="picture">
      <%= f.file_field :icon, accept: 'image/jpeg,image/gif,image/png,application/pdf' %>
    </span>
        </div>

      <script type="text/javascript">
          $('#topic_icon').bind('change', function() {
              size_in_megabytes = this.files[0].size/1024/1024;
              if (size_in_megabytes > 5) {
                  alert('Maximum file size is 5MB. Please choose a smaller file.');
              }
          });
      </script>

    <div class="field">
        <%= f.label :main_content %><br>
        <%= f.text_area :main_content, :size => "2x10" %>
    </div>

    <div class="field">
      <%= f.label :skill_level %><br>
      <%# f.select(:skill, [['Basic',1],['Intermediate',2],['Advanced',3]] ) %>
      <% count =0 %>
      <% hash = [] %>
      <% while count < $available_skills.count do %>
          <% hash << [$available_skills[count],count] %>

          <% count+=1 %>
      <% end %>
      <%= f.select(:skill, hash ) %>
    </div>


      <div class="field">
        <%= f.label :Category %><br>
        <%# f.select(:category, [['Main',0],['Category 1',1],['Category 2',2]] ) %>
        <% count =0 %>
        <% hash = [] %>
        <% while count < $available_categories.count do %>
            <% hash << [$available_categories[count],count] %>

            <% count+=1 %>
        <% end %>
        <%= f.select(:category, hash ) %>
      </div>






    <div class="field">
      <%# f.label :parent %><br>
      <%# f.collection_select(:parents, Topic.all, :id, :name) %>
    </div>

    <div class="actions">
      <%= f.submit "Go Live", class: "btn btn-primary" %>
    </div>

<% end %>
  </div>