<div id="sub-topics-window" class="">

  <h3>
    <%= link_to icon('fa fa-close fa-2x'), topics_path, class: "", style: "font-size:0.8em;display:inline-block;color:#b04431;vertical-align:middle;" %>
    <% if @topic.kids.present? %>
        <% @topic.kids.each do |tt|
          if tt.category < 1 && tt.language == I18n.locale.to_s %>
                <% if tt.icon.present? %>
                    <%= image_tag tt.icon.url, class: "img-icon" %>
                <% else %>
                    <%

                       the_class = "btn sub-topic-button"
                       if tt.id == @active_sub_menu.id
                       the_class = the_class + '-active'
                         else
                           the_class = the_class + ' b' + @active_column.id.to_s
                       end
                       if tt.placeholder == TRUE
                         the_class = the_class + ' placeholder'
                       end

                    %>
                    <%= link_to tt.name, topic_path(tt, anchor: top_topic(tt).name), class: the_class unless tt.name == nil %>
                <% end %>
            <% end %>
        <% end %>
    <% end %>

         <% if show_topic_first_parent_or_self.id > 3  && @topic.category == 0 %>

            <% @topic.parents.first.kids.each do |tt|
              if tt.category < 1 && tt.language == I18n.locale.to_s %>
                    <% if tt.icon.present? %>
                        <%= image_tag tt.icon.url, class: "img-icon" %>
                    <% else %>
                        <%
                           the_class = "btn sub-topic-button"
                           if tt.id == @active_sub_menu.id
                             the_class = the_class + '-active'
                             else
                               the_class = the_class + ' b' + @active_column.id.to_s
                           end
                           if tt.placeholder == TRUE
                             the_class = the_class + ' placeholder'
                           end

                        %>
                        <%= link_to tt.name, topic_path(tt, anchor: top_topic(tt).name), class: the_class %>
                    <% end %>
                <% end %>
            <% end %>
        <% end %>

    <% if @topic.category > 0 && @topic.parents.first.parents.first.id < 3 %>
        <% @topic.parents.first.kids.each do |tt|
          if tt.category < 1 && tt.language == I18n.locale.to_s %>
                <% if tt.icon.present? %>
                    <%= image_tag tt.icon.url, class: "img-icon" %>
                <% else %>
                            <%
                               the_class = "btn sub-topic-button"
                               if tt.id == @active_sub_menu.id
                                 the_class = the_class + '-active'
                                 else
                                   the_class = the_class + ' b' + @active_column.id.to_s
                               end
                               if tt.placeholder == TRUE
                                 the_class = the_class + ' placeholder'
                               end

                            %>
                    <%= link_to tt.name, topic_path(tt, anchor: top_topic(tt).name), class: the_class %>
                <% end %>
            <% end %>
        <% end %>
    <%# end %>
    <% else if @topic.category > 0 %>
        <% @topic.parents.first.parents.first.kids.each do |tt|
          if tt.category < 1 && tt.language == I18n.locale.to_s %>
                <% if tt.icon.present? %>
                    <%= image_tag tt.icon.url, class: "img-icon" %>
                <% else %>
                    <%
                       the_class = "btn sub-topic-button"
                       if tt.id == @active_sub_menu.id
                         the_class = the_class + '-active'
                         else
                           the_class = the_class + ' b' + @active_column.id.to_s
                       end
                       if tt.placeholder == TRUE
                         the_class = the_class + ' placeholder'
                       end

                    %>
                    <%= link_to tt.name, topic_path(tt, anchor: top_topic(tt).name), class: the_class %>
                <% end %>
            <% end %>
        <% end %>
    <% end %>
<% end %>
  </h3>

</div>
