<% provide(:title, 'Translation Manager Topic Editor') %>



<div class="row big-row edit-form low-gutter">

  <% #if @topic.parents.present? && @topic.parents.first.id < 4
      # @temp_topic = @topic.parents.first.id - 1
      # session[:current_collumn]= @temp_topic
     #else
       @temp_topic = @topic.col_finder - 1
       session[:current_collumn] = @temp_topic
     #end
  %>


  <%= @temp_topic %>



  <div class="col-md-2">
    <% if @topic.category > 0 %>
        Sub-Category "<%= $available_categories[@topic.category] %>" of <%= link_to @topic.parents.first.name, edit_topic_path(@topic.parents.first) %>
    <% else if @topic.parents.present? %>
        Sub-topic of <%= link_to @topic.parents.first.name, edit_topic_path(@topic.parents.first) %>
    <% end %>
        <% end %>
    <br>
    <% if @topic.originals.present? %>
        Translation of <%= link_to @topic.originals.first.name, edit_topic_path(@topic.originals.first) %>
    <% end %>
    <br>

  <%= render 'topics/column' %>
  </div>

  <div class="col-md-4">


    <strong><%= $av_langs_hash_english[@topic.language] %></strong><small> Version <%= @topic.version %> </small>

    <% if @topic.translations.present? %>
        <% @topic.translations.each do |trans| %>
            <%= link_to $av_langs_hash_english[trans.language], edit_topic_path(trans) %>
            <small>v<%= trans.version %></small>
        <% end %>
    <% else if @topic.originals.present? %>
            <% @topic.originals.each do |trans| %>
                <%= link_to $av_langs_hash_english[trans.language], edit_topic_path(trans) %>
                <small>v<%= trans.version %></small>
                <% if trans.translations.present? %>
                    <% trans.translations.each do |trans2| %>
                        <% if trans2.id != @topic.id %>
                            <%= link_to $av_langs_hash_english[trans2.language], edit_topic_path(trans2) %>
                            <small>v<%= trans2.version %></small>
                        <% end %>
                    <% end %>
                <% end %>
            <% end %>
        <% end %>
    <% end %>




    <%= render 'form' %>
  </div>

  <div class="col-md-6 nice-butt">
    <h2><%= link_to @topic.name, @topic %> </h2>
    <%= render 'content_window' %>
    <%# @topic.main_content.html_safe %>
  </div>
</div>


    <!-- remove a parent -->
    <!--
<%# @topic.parents.each do |t| %>
        <div class="edit-form">
        <h3 class="tight-butt">Edit Parents</h3>

      <ul class="list-inline2">
        <li>
            <%# t.name %> id= <%# t.id %>
        </li>
        <li>

            <%# form_for(current_topic.parent_families.find_by(parent_id: t),
                 html: { method: :delete }) do |f| %>
            <%# f.submit "Remove this topic from Parent", class: "btn btn-danger" %>
            <%# end %>
        </li>
      </ul>
        <br>
        </div>
<%# end %>
-->
    <!-- new parent id -->

  <%# form_for(current_topic.parent_families.build) do |f| %>
      <%# f.label :parent_id %>
      <%# f.number_field :id %>
      <%# f.submit "Parent id #", class: "btn btn-primary" %>
  <%# end %>

