<% provide(:title, 'Translation Manager Topic Editor') %>

<div class="row big-row edit-form low-gutter">

  <% #if @topic.parents.present? && @topic.parents.first.id < 4
      # @temp_topic = @topic.parents.first.id - 1
      # session[:current_collumn]= @temp_topic
     #else
       @temp_topic = @topic.col_finder - 1
       session[:current_collumn] = @temp_topic
     #end
  %>


  <div class="col-sm-2">
    <% if @topic.category.present? && @topic.category > 0 %>
        Tab "<%= $available_categories[@topic.category] || $available_categories[params[:category]] %>" of <%= link_to @topic.parents.first.name, edit_topic_path(@topic.parents.first) %>
    <% else if @topic.parents.present? %>
        Sub-topic of <%= link_to @topic.parents.first.name, edit_topic_path(@topic.parents.first) %>
    <% end %>
        <% end %>
    <br>
    <% if @topic.originals.present? %>
        Translation of <%= link_to @topic.originals.first.name, edit_topic_path(@topic.originals.first) %>
    <% end %>
    <br>

  <%= render 'topics/column' %>
  </div>

  <div class="col-sm-4">

    <%= render 'edit_translations' %>
    <%= render 'form' %>
  </div>

  <div class="col-sm-6 nice-butt">
    <% if @topic.name == nil
         name = @topic.parents.first.name
       else
         name = @topic.name
       end
    %>

    <h2><%= link_to name, @topic %> </h2>
    <%= render 'content_window' %>
    <%# @topic.main_content.html_safe %>
  </div>
</div>

