<% provide(:title, 'Edit Topic') %>

<div class="row">

  <h1 class="center">Edit Topic</h1>

  <div class="col-md-6">

  <%= render 'form' %>

    <!-- remove a parent -->
<% @topic.parents.each do |t| %>
        <div class="topic-form">
        <h3 class="tight-butt">Edit Parents</h3>

      <ul class="list-inline2">
        <li>
            <%= t.name %> id= <%= t.id %>
        </li>
        <li>
            <%# current_topic.parent_families.find_by(parent_id: t).parent_id %>
            <%= form_for(current_topic.parent_families.find_by(parent_id: t),
                 html: { method: :delete }) do |f| %>
            <%= f.submit "Remove Parent", class: "btn btn-danger" %>
            <% end %>


        </li>
      </ul>
        <br>
        </div>
<% end %>

    <!-- new parent id -->

  <%# form_for(current_topic.parent_families.build) do |f| %>
      <%# f.label :parent_id %>
      <%# f.number_field :id %>
      <%# f.submit "Parent id #", class: "btn btn-primary" %>
  <%# end %>



</div>
<div class="col-md-6 b0 nice-butt">
  <h2><%= @topic.name %> </h2>
  <%= @topic.main_content.html_safe %>
</div>
</div>