
<%# if logged_in? %>
<% session[:anim_in_done_it_once] = 0 %>
<% provide(:title, t('titles.classroom') ) %>

    <div class="

    <% if edit_mode == 1 %>
        offset-jimbo

    <% end %>
">

    <div class="row low-gutter <% if edit_mode == 1 %>
                                edit-form
                                <% end %>
                                ">
<%
   if edit_mode == 1
    animated = ''
    else
    animated = 'animated'
   end
%>
  <% @temp_topic=0 %>
  <div id="column-1" class="col-xs-12 col-sm-4 column-1 <%= animated %>">
  <%= render 'column' %>
  </div>
  <!-- 2nd column -->
  <div id="column-2" class="col-xs-12 col-sm-4 column-2 <%= animated %>">
  <% @temp_topic=1 %>
  <%= render 'column' %>
  </div>
  <!-- 3rd column -->
  <div id="column-3" class="col-xs-12 col-sm-4 column-3 <%= animated %>">
  <% @temp_topic=2 %>
  <%= render 'column' %>
  </div>


</div>
    </div>

<%# else %>
<!-- else
    <script type="text/javascript">
        window.location.href="/"
    </script>
    -->
<%# end %>

