<% provide(:title, 'New topics') %>

<%
   t=@topics.find(params[:parent_id])
   if t.id < 4
     @temp_topic = t.id - 1
   else
     while t.parents.present?
        #if t.parents.first.id > 4
            t=t.parents.first
        #else
        #    break
        #end
     end
     @temp_topic = t.id - 1
   end

#     @temp_topic = @topic.col_finder - 1

   session[:current_collumn] = @temp_topic
%>
<div class="offset-jimbo">
  <div class="row big-row edit-form low-gutter">
    <div class="col-md-2">
<strong>New</strong>
      <% if params[:category].present? %>
          Tab "<%= $available_categories[params[:category].to_i] %>" of <%= @topics.find(params[:parent_id]).name %>
      <% else if params[:parent_id].present? %>
              Sub-topic of <%= @topics.find(params[:parent_id]).name %>
          <% end %>
      <% end %>
      <br>
      <% if @topic.originals.present? %>
          Translation of <%= link_to @topic.originals.first.name, edit_topic_path(@topic.originals.first) %>
      <% end %>
      <br>

      <%= render 'topics/column' %>
    </div>

    <div class="col-md-4">
      <%= render 'edit_translations' %>
      <%= render 'form' %>
    </div>

    <div class="col-md-6 nice-butt">
      <% if @topic.name != nil %>
          <h2><%= link_to @topic.name, @topic %> </h2>
      <% end %>


      <%= render 'content_window' %>
      <%# @topic.main_content.html_safe %>
    </div>

</div>
</div>