<div class="row low-gutter tight-butt">
  <% if @topic.parents.first
        @temp_topic = @topic.parents.first.id - 1
     else
       @temp_topic =0
     end



  %>

  <% if @temp_topic == 0 %>
      <%= render 'column' %>
  <% end %>

<div class="col-md-8 b0 tight-butt">
  <h3>
    <% @topic.kids.each do |tt| %>
        <%= link_to tt.name, tt, class: "btn btn-default" %>
    <% end %>
  </h3>
</div>

<div class="col-md-8 filled-container b0">
    <div class="content_window">
        <h2>
        <% if edit_mode == 1 %>
            <%= link_to '<i class="fa fa-edit"></i>'.html_safe, edit_topic_path(@topic) %>
        <% end %>
        <%= @topic.name %>
          <!-- translations available -->
          <rs>

            <% if @topic.translations.present? %>
                <% @topic.translations.each do |trans| %>
                    <%= link_to trans.name, trans %>
                <% end %>
            <% else if @topic.originals.present? %>
                    <% @topic.originals.each do |trans| %>
                        <%= link_to trans.name, trans %>
                        <% if trans.translations.present? %>
                            <% trans.translations.each do |trans2| %>
                                <% if trans2.id != @topic.id %>
                                <%= link_to trans2.name, trans2 %>
                                    <% end %>
                            <% end %>
                        <% end %>
                    <% end %>

            <% end %>
            <% end %>
          </rs>
      </h2>
      <% if edit_mode == 1 %>

      <h2><small>
        Skill Level <strong><%= $available_skills[@topic.skill] unless !@topic.skill.present?%></strong>
        Category <strong><%= $available_categories[@topic.category] unless !@topic.category.present? %></strong>
        Language <strong><%= $available_languages[@topic.language] unless !@topic.language.present? %></strong>
      </small></h2>
          <% end %>


        <%=@topic.main_content.html_safe %>
      <%
         #@image = MiniMagick::Image.open("http://www.tracyworley.com/wp-content/uploads/2015/02/DonkeyTeam.jpg")
         #open_pdf = open("public/media/Booklet_20_Final_RGB.pdf")
         #reader = PDF::Reader.new(open('public/media/Booklet_20_Final_RGB.pdf'))
      %>

      <div id="pdf-viewer">
        <%
        # this reader is the pdf-reader gem it gets all the text out of the pdf so i can put that into the meta-data area for searching. whoo hoo
        %>
           <%# reader.page(1) %>
        <!-- iframe for pdf
        <iframe frameborder="0" src="http://cloud.bountifulgardens.net/ea_pub/Booklet_20_Final_RGB.pdf" width="60%" height="100%"></iframe>
-->

      <%# image_tag "/media/Booklet_20_Final_RGB.pdf"  %>
      <%# image_tag "/media/1.jpg" %>
      </div>

    </div>
    <hr>
    <div class="content_window tight-top big-butt">



        <% if edit_mode == 1 %>
          <h3>
            <!-- new suplimental files -->
            <%= link_to '<i class="fa fa-plus-square fa-1x"></i> Create New Supplemental File'.html_safe, new_pub_path(parent_id: @topic.id) %>
          </h3>
        <% end %>
        <!-- <i class="fa fa-archive fa-1x"></i> Supplemental Files -->

      <div class="col-md-4">
        <h5><i class="fa fa-star-o c4"></i></h5>
      <% if @topic.pubs.present? %>
          <% @topic.pubs.each do |t| %>
                <% if t.skill == 1 %>
                    <%= link_to '<i class="fa fa-photo fa-1x"></i>'.html_safe, t.media.url, :data => { :colorbox => true, :colorbox_height => '90%', :colorbox_width => '90%', :colorbox_iframe => true } %>
                    <%= link_to '<i class="fa fa-download fa-1x"></i>'.html_safe, t.media.url %>
                    <%= link_to t.name, t %>
                    <% end %>
          <% end %>
        <% end %>
      </div>

      <div class="col-md-4">
        <h5> <i class="fa fa-star-half-o c4"></i></h5>
        <% if @topic.pubs.present? %>
            <% @topic.pubs.each do |t| %>
                <% if t.skill == 2 %>
                    <%= link_to '<i class="fa fa-photo fa-1x"></i>'.html_safe, t.media.url, :data => { :colorbox => true } %>
                    <% send_file t.media.url %>
                <%= link_to '<i class="fa fa-download fa-1x"></i>'.html_safe, t.media.url %>
                <%= link_to t.name, t %>
                    <% end %>
            <% end %>
        <% end %>
      </div>

      <div class="col-md-4">
        <h5><i class="fa fa-star c4"></i></h5>
        <% if @topic.pubs.present? %>
            <% @topic.pubs.each do |t| %>
                <% if t.skill == 3 %>
                    <%= link_to '<i class="fa fa-photo fa-1x"></i>'.html_safe, t.media.url, :data => { :colorbox => true } %>
                <%= link_to '<i class="fa fa-download fa-1x"></i>'.html_safe, t.media.url %>
                <%= link_to t.name, t %>
                    <% end %>
            <% end %>
        <% end %>
      </div>

    </div>

  </div>


  <% if @temp_topic == 1 || @temp_topic == 2 %>
     <%= render 'column' %>
  <% end %>

</div>
