
<div class="row">

  <div class="col-lg-3">
    <h5> <i class="fa fa-book fa-2x"></i> </h5>
    <% @temp_topic=0 %>
    <%= render 'column' %>
  </div>

  <div class="col-lg-1">
  </div>

  <div class="col-lg-8 filled-container">
    <h2>
      <% if $edit_mode==1 %>
          <%= link_to '<i class="fa fa-edit"></i>'.html_safe, edit_topic_path(@topic) %>
      <% end %>
      <%= @topic.name %><small> Main Content</small>
    </h2>
    <h2><small>Skill Level <%= @topic.skill %></small></h2>
    <%= @topic.main_content %>

  </div>

</div>



<hr>
<h3>debuggin'</h3>
<h3>parents</h3>
<% @topic.parents.each do |b| %>
    <%= b.name %>
<% end %>

<h2>kids <%= @topic.kids.count %></h2>
<% @topic.kids.each do |c| %>
    <%= c.name %>
<% end %>
