<% if current_admin == TRUE %>



<div class="main-menu">
  <%# link_to 'New Topic', new_topic_path, class:"btn btn-primary"%>

  <h2>Topics</h2>

  <% if @topics
       @topics.each do |t|
  %>
       <%= link_to t.name, t %>
        <% if edit_mode == 1 %>
          <td><%= link_to 'Edit', edit_topic_path(t), class: "btn btn-info" %></td>
          <%= link_to 'Destroy', t,class: "btn btn-danger" ,method: :delete, data: { confirm: 'Are you sure?' } %>
          <% if t.parents.count < 1 %>
            <strong>no parents</strong>
          <% else %>
            <strong>Parents:</strong> <% t.parents.each do |tt| %> - <%= link_to tt.name, tt %> <% end %>
              <strong>Sub Topics:</strong> <% t.kids.each do |tt| %> - <%= link_to tt.name, tt %> <% end %>
          <% end %>

        <% end %>
          <br>
      <% end %>
  <% end %>


</div>

<% end %>