<%= render 'shared/error_messages', object: f.object %>
<h3 style="margin-bottom: 0"><%= t('sessions.name') %>:</h3>
<div class="input-group" style="margin-bottom: 5px">
  <%= f.label(t('sessions.name'), :class => 'input-group-addon') do  %>
      <i class="fa fa-user fa-fw"></i>
  <%end%>
  <%= f.text_field :name, :class => 'form-control', :type => 'text', :placeholder => 'Name' %>
</div>

<h3 style="margin-bottom: 0"><%= t('sessions.email') %>:</h3>
<div class="input-group" style="margin-bottom: 5px">
  <%= f.label(t('sessions.email'), :class => 'input-group-addon') do  %>
      <i class="fa fa-envelope-o fa-fw"></i>
  <%end%>
  <%= f.text_field :email, :class => 'form-control', :type => 'text', :placeholder => 'Email Address' %>
</div>

<h3 style="margin-bottom: 0"><%= t('sessions.password') %>:</h3>
<div class="input-group" style="margin-bottom: 5px">
  <%= f.label(t('sessions.password'), :class => 'input-group-addon') do  %>
      <i class="fa fa-key fa-fw"></i>
  <%end%>
  <%= f.password_field :password, :class => 'form-control'  %>
</div>

<h3 style="margin-bottom: 0"><%= t('sessions.confirm_password') %>:</h3>
<div class="input-group" style="margin-bottom: 5px">
  <%= f.label(t('sessions.confirm_password'), :class => 'input-group-addon') do  %>
      <i class="fa fa-check fa-fw"></i>
  <%end%>
  <%= f.password_field :password_confirmation, :class => 'form-control' %>
</div>
