<li class="">
  <img class="img-circle"<%= gravatar_for user, size: 50 %> </img>
  <Strong><%= link_to user.name, user %></Strong>
  Last online
  <% if user.last_login.present? %>
    <%= time_ago_in_words(user.last_login) %> ago
  <% else %>
    Never
  <% end %>
  ||
  <% if user.admin == TRUE %>
    <strong>: ADMIN USER</strong>
  <% end %>

  <% if current_user && current_user.admin? && !current_user?(user) %>
    <% if edit_mode == 1 %>
      <%= link_to "delete", user, method: :delete,
                      data: { confirm: "You sure?" } %>
      <%= button_to "Toggle Admin", admin_toggle_user_path(user) ,:method => :post, class: "btn" %>

    <% end %>
  <% end %>

</li>
