<% provide(:title, t('sessions.sign_up') ) %>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8 container-grad big-butt">
    <h1><%= t('sessions.register') %></h1>
    <%= t('users.registration') %>
    <%= form_for(@user) do |f| %>

        <%= render 'fields',f: f %>

        <%= f.submit "Create my account", class: "btn btn-primary" %>

    <% end %>
  </div>
  <div class="col-md-2"></div>
</div>



