<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <h3>Last online <%= time_ago_in_words(@user.last_login) %> </h3>
    </section>
    <section class="stats">
      <% render 'shared/user_stats' %>
    </section>
    <section class="micropost_form">
      <%= render 'shared/micropost_form' %>
    </section>
  </aside>
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
    <% if @message_board.any? %>
        <h2>Message Board <%= @message_board.count %></h2>
        <ol class="microposts">
          <%= render @message_board %>
        </ol>
        <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>



<!--  rows
  <div class="row">
    <div class="col-xs-6">
      <p class="center">
        <strong>Name:</strong>
        <%= @user.name %>
      </p>
    </div>
    <div class="col-xs-6">
      <p class="center">
        <strong>Email:</strong>
        <%= @user.email %>
      </p>
    </div>
  </div>
-->








