<div class="" style="padding-right:.8em;padding-left:.8em;">
<% if t.pub_type == 7 %> <!-- photo -->
    <%= link_to icon("cloud-download fa-lg"), t.media.url, :target => "_blank" %>
    <%= icon('photo') %>
<% else
     if t.pub_type == 6 %> <!-- animation -->
        <%= image_tag('button_anim_play.png') %>
    <% else
         if t.pub_type == 5 || t.pub_type == 8 %> <!-- movie -->

            <%= '<i class="fa fa-video-camera fa-lg"></i>'.html_safe %>


        <% else %>
            <%= link_to icon("cloud-download fa-lg"), t.media.url, :target => "_blank", style: 'inline-block' %>
            <%= icon('file-text-o fa-lg') %>
            <%# link_to '<span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span>'.html_safe, t.media.url, :target => "_blank", style: 'inline-block' %>

        <% end %>
    <% end %>
<% end %>


<% if t.media.present? %>
  <%= render 'shared/modal_link', button: t.name, title: t.name, body: nil, type: t.pub_type, url: t.media.url, the_class: '',count: 'thedonkeysarehere' + t.id.to_s %>
  <% else if t.url.present? %>
      <%= render 'shared/modal_link', button: t.name, title: t.name, body: nil,type: t.pub_type, url: t.url, the_class: '',count: 'thedonkeysarehere' + t.id.to_s %>
  <% end %>
<% end %>
</div>
<script>
$('<%= '#myModal-' + 'thedonkeysarehere' + t.id.to_s %>').appendTo("body")
</script>
<%#
 if t.topics.present?
     link_to icon('file-text-o') + t.name, topic_path(t.topics.first, publication_id: t.id)
else
     link_to icon('file-text-o') + t.name, pub_path(t.id)
end

%>
