<%#
text_area
    text_field
    check_box
    number_field
placeholder: "Compose new micropost..."

    render 'shared/pub_form',f: f


%>

<%= form_for(@pub, html: { multipart: true }) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <!-- #parent topic stuff -->
    <% if @parent_topic %>
        <h3>Create Supplimental Publication of <strong><%= @parent_topic.name %></strong></h3>
        <%= hidden_field_tag :parent_id, @parent_topic.id %>
    <% end %>

    <!-- #translation hidden field stuff -->
    <% if @original_pub %>
        <h3>Translation of <strong><%= @original_pub.name %></strong></h3>
        <%= hidden_field_tag :original_id, @original_pub.id %>
    <% end %>


    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label :language %><br>

      <% if @parent_topic.present? %>
          <%= f.select(:language, $available_languages, :selected => @parent_topic.language) %>
      <% else %>
          <%= f.select(:language, $available_languages) %>
      <% end %>
    </div>



    <div class="field">
      <%# f.label :is_it_a_translation %>
      <%# f.check_box :translation %>
    </div>


    <div class="field">
      <%= f.label :Publication_Type %><br>

      <% count =0 %>
      <% hash = [] %>
      <% while count < $available_pub_types.count do %>
          <% hash << [$available_pub_types[count],count] %>

          <% count+=1 %>
      <% end %>
      <% if @original_pub.present? %>
          <%= f.select(:pub_type, hash, :selected => @original_pub.pub_type) %>
      <% else %>
          <%= f.select(:pub_type, hash ) %>
      <% end %>


    </div>

    <div class="field">
      <%= f.label :skill_level %><br>
      <%# f.select(:skill, [['Basic',1],['Intermediate',2],['Advanced',3]] ) %>
      <% count =0 %>
      <% hash = [] %>
      <% while count < $available_skills.count do %>
          <% hash << [$available_skills[count],count] %>

          <% count+=1 %>
      <% end %>
      <% if @original_pub.present? %>
          <%= f.select(:skill, hash , :selected => @original_pub.skill) %>
      <% else %>
          <%= f.select(:skill, hash ) %>
      <% end %>

    </div>

    <!-- media -->
    <% if @pub.media.url %>
        <div class="field">
          <%= f.label :media_type %>
          <%= @pub.media.content_type %>
          <br>
          <%= f.label :media_url %>
          <%= @pub.media.url %>
          <br>
          <%= f.label "Replace document with new File Upload" %>
          <span class="picture">
            <%= f.file_field :media, accept: 'image/jpeg,image/gif,image/png,application/pdf, video/mp4' %>
          </span>
        </div>

    <% else %>
        Upload a new File
            <span class="picture">
                <%= f.file_field :media, accept: 'image/jpeg,image/gif,image/png,application/pdf,video/mp4' %>
            </span>
        Or add an Url
        <div class="field">
          <%= f.label :url %>
          <%= f.text_field :url %>
        </div>
    <% end %>



    <%= f.submit "Publish", class: "btn btn-primary" %>

<script type="text/javascript">
    $('#micropost_picture').bind('change', function() {
        size_in_megabytes = this.files[0].size/1024/1024;
        if (size_in_megabytes > 1024) {
            alert('Maximum file size is 1024MB. Please choose a smaller file.');
        }
    });
</script>

<% end %>
