<% if t.pub_type == 7 %> <!-- photo -->
    <%= link_to '<i class="fa fa-photo"></i>'.html_safe, t.media.url, :data => {:colorbox => true, :colorbox_height => '90%', :colorbox_width => '90%', :colorbox_iframe => true, } %>
    <%= link_to '<span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span>'.html_safe, t.media.url, :target => "_blank" %>
<% else
     if t.pub_type == 6 %> <!-- animation -->
        <%= link_to image_tag('button_anim_play.png'), t.media.url, :data => {:colorbox => true, :colorbox_height => '90%', :colorbox_width => '90%', :colorbox_iframe => true, } %>

    <% else
         if t.pub_type == 5 %> <!-- movie -->
            <%= link_to '<i class="fa fa-video-camera"></i>'.html_safe, t.media.url, :data => {:colorbox => true, :colorbox_height => '90%', :colorbox_width => '90%', :colorbox_iframe => true, } %>
            <%= link_to '<span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span>'.html_safe, t.media.url, :target => "_blank" %>

        <% else %>
            <%= link_to image_tag('button_doc_zoom.png'), t.media.url, :data => {:colorbox => true, :colorbox_height => '90%', :colorbox_width => '90%', :colorbox_iframe => true, } %>
            <%= link_to '<span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span>'.html_safe, t.media.url, :target => "_blank" %>
        <% end %>
    <% end %>
<% end %>

<% if t.topics.present? %>
    <%= link_to t.name, topic_path(t.topics.first, publication_id: t.id) %>
<% else %>
    <%= link_to t.name, pub_path(t.id) %>
<% end %>