<% button_icon = nil %>
<div class="" style="padding-right:.8em;padding-left:.8em;">
<% if t.pub_type == 7 %> <!-- photo -->
  <%= link_to icon("cloud-download fa-lg"), t.media.url, :target => "_blank" %>
  <% button_icon = icon('photo') %>
<% elsif t.pub_type == 6 %> <!-- animation -->
  <%= button_icon = image_tag('button_anim_play.png').to_s %>
<% elsif t.pub_type == 5 || t.pub_type == 8 %> <!-- movie -->
  <%# button_icon = '<i class="fa fa-video-camera fa-lg"></i>'.html_safe %>
  
  <% button_icon = icon('video-camera fa-lg').to_s %>
<% else %>
  <%= link_to icon("cloud-download fa-lg"), t.media.url, :target => "_blank", style: 'inline-block' %>
  <% button_icon = icon('file-text-o fa-lg') %>
<% end %>


<% if t.media.present? %>
  <%= render 'shared/modal_link', button: button_icon + ' ' + t.name, title: t.name, body: nil, type: t.pub_type, url: t.media.url, the_class: '',count: 'thedonkeysarehere' + t.id.to_s %>
  <% else if t.url.present? %>
      <%= render 'shared/modal_link', button: button_icon + ' ' + t.name, title: t.name, body: nil,type: t.pub_type, url: t.url, the_class: '',count: 'thedonkeysarehere' + t.id.to_s %>
  <% end %>
<% end %>
</div>
<script>
$('<%= '#myModal-' + 'thedonkeysarehere' + t.id.to_s %>').appendTo("body")
</script>
<%#
 if t.topics.present?
     link_to icon('file-text-o') + t.name, topic_path(t.topics.first, publication_id: t.id)
else
     link_to icon('file-text-o') + t.name, pub_path(t.id)
end

%>
