<div class="" style="padding-right:.8em;padding-left:.8em;">
<% if t.pub_type == 7 %> <!-- photo -->
    <%= link_to icon("cloud-download fa-lg"), t.media.url, :target => "_blank" %>
    <%= icon('fa-photo fa-lg') %>
<% else
     if t.pub_type == 6 %> <!-- animation -->
        <%= link_to image_tag('button_anim_play.png'), t.media.url, :data => {:colorbox => true, :colorbox_height => '90%', :colorbox_width => '90%', :colorbox_iframe => true, } %>
    <% else
         if t.pub_type == 5 || t.pub_type == 8 %> <!-- movie -->
            <%# link_to '<i class="fa fa-video-camera"></i>'.html_safe, t.media.url, :data => {:colorbox => true, :colorbox_height => '90%', :colorbox_width => '90%', :colorbox_iframe => true, } %>
            <%= '<i class="fa fa-video-camera fa-lg"></i>'.html_safe %>
            <%# link_to '<span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span>'.html_safe, t.media.url, :target => "_blank" %>

        <% else %>
            <%= link_to icon("cloud-download fa-lg"), t.media.url, :target => "_blank", style: 'inline-block' %>
            <%= icon('file-text-o fa-lg') %>
            <%# link_to '<span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span>'.html_safe, t.media.url, :target => "_blank", style: 'inline-block' %>
            <%# link_to icon('file-text-o'), t.media.url, :data => {:colorbox => true, :colorbox_height => '90%', :colorbox_width => '90%', :colorbox_iframe => true, } %>
        <% end %>
    <% end %>
<% end %>


<% if t.media.present? %>
  <%= render 'shared/modal_link', button: t.name, title: t.name, body: t.media.url,type: t.pub_type, url: nil, the_class: '',count: 'thedonkeysarehere' + t.id.to_s %>
  <% else if t.url.present? %>
      <%= render 'shared/modal_link', button: t.name, title: t.name, body: nil,type: t.pub_type, url: t.url, the_class: '',count: 'allyourbasearebe' + t.id.to_s %>
  <% end %>
<% end %>
</div>
<%#
 if t.topics.present?
     link_to icon('file-text-o') + t.name, topic_path(t.topics.first, publication_id: t.id)
else
     link_to icon('file-text-o') + t.name, pub_path(t.id)
end

%>
