


<h1>All Publications</h1>

<table width="90%" class="table-striped table-responsive">
  <thead>
  <tr>
    <th>Name</th>
    <th>Media Type</th>
    <th colspan="2"></th>
  </tr>
  </thead>

  <tbody>
  <% @pubs.each do |p| %>
      <tr>
        <td><%= link_to p.name, p %></td>
        <td><%= p.media.content_type %></td>

        <% if current_user.admin? %>
            <% if $edit_mode==1 %>
                <td><%= link_to 'Edit', edit_pub_path(p), class: "btn btn-info"  %></td>
                <td><%= link_to 'Destroy', p, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
                <% end %>
            <% end %>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Publication', new_pub_path, class:"btn btn-primary btn-lg"%>
