<% provide(:title, 'Publication Viewer') %>

<div class="row b0">
<div class="col-md-2"></div>

  <div class="col-md-10">
    <div class="content_window">
    <h1>
      <% if edit_mode==1 %>
          <%= link_to '<i class="fa fa-edit"></i>'.html_safe, edit_pub_path(@pub) %>
          <%= link_to '<i class="fa fa-language"></i>'.html_safe, new_pub_path(original_id: @pub.id, parent_id: @pub.topics.first.id) %>

          <% end %><%= @pub.name %>
      Skill Level <strong><%= $available_skills[@pub.skill] unless !@pub.skill.present?%></strong>
      <rs>
        <!-- translations -->
        <% if @pub.translations.present? %>

            <% @pub.translations.each do |t| %>
                <%= link_to t.name, t %>
            <% end %>
        <% else if @pub.originals.present? %>
                <% @pub.originals.each do |t| %>
                    <%= link_to t.name, t %>
                    <% if t.translations.present? %>
                        <% t.translations.each do |tt| %>
                            <% if tt.id != @pub.id %>
                                <%= link_to tt.name, tt %>
                            <% end %>
                        <% end %>
                    <% end %>
                <% end %>

            <% end %>
        <% end %>
      </rs>

    </h1>


This publication is linked to by
<% @pub.topics.each do |t| %>
<%= link_to t.name, t %>
    <% end %>







<div id="pub-<%= @pub.id %>">

  <span class="content">


    <% if @pub.media.present? %>
        The Attached file is a
        <strong><%= @pub.media.content_type %></strong>
        and is
        <%= number_to_human_size(@pub.media.size) %>
        <% if @pub.media.content_type == "application/pdf" %>

            <div class="pdf-viewer">
              <iframe src="<%= @pub.media.url %>" width="62%" height="100%"></iframe>
            </div>
        <% else %>
            <%= image_tag @pub.media.url %>
        <% end %>
    <% end %>
  </span>

  <span class="timestamp">
    Posted <%= time_ago_in_words(@pub.created_at) %> ago.
  </span>

  <% if current_user.admin?%>
      <% if edit_mode==1 %>
      <%= link_to "delete", @pub, method: :delete,
                  data: { confirm: "You sure?" } %>
          <% end %>
      <% end %>


</div>

    </div>

    <%# reader = PDF::Reader.new(open('public/uploads/pub/media/21/Booklet_20_Final_RGB.pdf')) %>
    <%# @pub.meta_data = "" %>
    <%# reader.pages.each do |page| %>
    <%# @pub.meta_data += page.text %>
    <%# end %>

<% if edit_mode == 1 %>
    <div class="b0">
      <%= @pub.meta_data %>
    </div>
    <% end %>
</div>

</div>