<% provide(:title, 'Publication Viewer') %>
<div class="row inherit_h">
  <div class="col-md-12 inherit_h">
    <div class="inherit_h">
    <h1>
      <% if edit_mode==1 %>
          <%= link_to '<i class="fa fa-edit edit-color"></i>'.html_safe, edit_pub_path(@pub) %>
          <% if @pub.topics.present? %>
            <%= link_to '<i class="fa fa-language edit-color"></i>'.html_safe, new_pub_path(original_id: @pub.id, parent_id: @pub.topics.first.id ) %>
          <% else %>
              <%= link_to '<i class="fa fa-language edit-color"></i>'.html_safe, new_pub_path(original_id: @pub.id ) %>
          <% end %>

          <% end %><%= @pub.name %>
    </h1>
    <small>
      <!-- translations -->
      <% if @pub.translations.present? %>
        <% @pub.translations.each do |t| %>
          <%= link_to t.name, t %>
        <% end %>
        <% else if @pub.originals.present? %>
                <% @pub.originals.each do |t| %>
                    <%= link_to t.name, t %>
                    <% if t.translations.present? %>
                        <% t.translations.each do |tt| %>
                            <% if tt.id != @pub.id %>
                                <%= link_to tt.name, tt %>
                            <% end %>
                        <% end %>
                    <% end %>
                <% end %>
            <% end %>
        <% end %>
      </small>

      <p>
        Skill Level <strong><%= $available_skills[@pub.skill] unless !@pub.skill.present?%></strong>
        This publication is linked to by
        <% @pub.topics.each do |t|%>
          <%= link_to t.name, t %>
        <% end %>
      </p>
      <%= link_to 'All Publications', pubs_path, class: 'btn btn-default' %>

      <div id="pub-<%= @pub.id %>" style="position:relative;height:inherit">
        <% if @pub.media.present? %>
          The Attached file is a
          <strong><%= @pub.media.content_type %></strong>
          and is
          <%= number_to_human_size(@pub.media.size) %>

          <% if @pub.media.content_type == "application/pdf" %>
            <div class="pdf-viewer">
              <iframe src="<%= @pub.media.url %>" width="62%" height="100%"></iframe>
            </div>
          <% else if @pub.media.content_type == 'video/mp4' || @pub.media.content_type == 'application/mp4' %>
              <div class="pdf-viewer">
                <iframe src="<%= @pub.media.url %>" width="62%" height="100%"></iframe>
              </div>
          <% else %>
              <div class="image-viewer">
                <%= image_tag @pub.media.url %>
              </div>
          <% end %>
          <% end %>
        <% end %>
      </div>

      <span class="timestamp">
        Posted <%= time_ago_in_words(@pub.created_at) %> ago.
      </span>

      <% if current_user && current_user.admin?%>
          <% if edit_mode == 1 %>
            <%= link_to "delete", @pub, method: :delete,
                      data: { confirm: "You sure?" },
                      class: "btn btn-danger"%>
          <% end %>
      <% end %>
    </div> <!-- inherit -->
  </div> <!-- col-md-12 -->

  <% if edit_mode == 1 %>
    <div class="b0 edit-color">
      <%= @pub.meta_data %>
    </div>
  <% end %>
</div> <!-- row -->
