<div class="navbar navbar-fixed-top navbar-special-color">
  <div>
    <div class="navbar-header">
      <% header_title = header_title(yield(:logo)) %>
      <%= link_to header_title, topics_path, id: "logo" %>


      <div id="enter-button" style="display:inline-block;float:left">
        <% if current_page?(controller: 'static_pages', action: 'home') || current_page?(controller: 'static_pages', action: 'movie_hd') || action_name == 'home' || action_name == 'movie' %>
          <span class="center" style="">
           <%# link_to t('classroom_doors.btn_enter_site'), classroom_doors_path, class: "btn btn-lrg button-major-orange" %>
           <%= link_to t('classroom_doors.btn_enter_site'), topics_path, class: "btn btn-lrg button-major-orange animated pulse infinite btn-animated-2s" %>
          </span>
        <% end %>
      </div>
    </div>

    <div id="navbar-middle" class="navbar-header">
      <ul class="nav-list list-inline2">
             <li class="top-menu-icon small-icon">
          <% if session[:current_collumn] == 1 && @topic.present? && $collumn_icon_1.kids.present? %>
              <%= link_to image_tag($collumn_icon_1.icon.url, class: 'small-icon'), topic_path($collumn_icon_1.kids.first) %>
          <% else
               if session[:current_collumn] == 2 && @topic.present? && $collumn_icon_1.kids.present? %>
                  <%= link_to image_tag($collumn_icon_1.icon.url, class: 'small-icon'), topic_path($collumn_icon_1.kids.first) %>

              <% else %>

              <% end %>
          <% end %>
        </li>

        <li class="top-menu-icon small-icon">
          <% if session[:current_collumn] == 0 && @topic.present? && $collumn_icon_2.kids.present? %>
              <%= link_to image_tag($collumn_icon_2.icon.url, class: 'small-icon'), topic_path($collumn_icon_2.kids.first) %>
          <% else
               if session[:current_collumn] == 2 && @topic.present? && $collumn_icon_2.kids.present? %>
                  <%= link_to image_tag($collumn_icon_2.icon.url, class: 'small-icon'), topic_path($collumn_icon_2.kids.first) %>
              <% else %>

              <% end %>
          <% end %>
        </li>
        <li class="top-menu-icon small-icon">

          <% if session[:current_collumn] == 0 && @topic.present? && $collumn_icon_3.kids.present? %>
              <%= link_to image_tag($collumn_icon_3.icon.url, class: 'small-icon'), topic_path($collumn_icon_3.kids.first) %>

          <% else
               if session[:current_collumn] == 1 && @topic.present? && $collumn_icon_3.kids.present? %>
                  <%= link_to image_tag($collumn_icon_3.icon.url, class: 'small-icon'), topic_path($collumn_icon_3.kids.first) %>

              <% else %>

              <% end %>
          <% end %>
        </li>
      </ul>
    </div>
    <!--/.nav-middle -->

    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <% if params[:action] == "home" %>
          <li style="font-size:.92em;"><%= link_to 'Watch in High Definition', movie_hd_path, class: 'btn-sm button-orange-text'  %></li>

        <% else %>
          <% if params[:action] == "movie" %>
            <li style="font-size:.92em;"><%= link_to 'Watch in High Definition', movie_hd_path, class: 'btn-sm button-orange-text'  %></li>
          <% else %>
            <li>
              <%# link_to t('general.watch_movie'), movie_path, class: " button-orange-text" %>
              <%= link_to image_tag('button_anim_play.png'), movie_path, class: " button-orange-text", style: "margin-top:-.33em;" %>
            </li>
            <li>
              <%= link_to 'Instructions', topic_path(1) %>
            </li>
          <% end %>


          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="margin-top:-.3em;">
              <% key = I18n.locale.to_s %>
              <%# $av_langs_hash[key] %>
              <%= icon('fa fa-globe fa-2x') %>
              <span class="fa fa-caret-down"></span>
            </a>
            <ul class="dropdown-menu">
              <% $av_langs_hash.each do |k, v| %>
                <% if params[:action] == "library" %>
                  <li><%= link_to v, library_path(locale: k) if k != 'na' %></li>
                <% else %>
                  <li><%= link_to v, topics_path(locale: k) if k != 'na' %></li>
                <% end %>
              <% end %>
            </ul>
          </li>

          <% if params[:action] == "library" %>
            <li><%= link_to '', topics_path, class: 'fa fa-home fa-2x' %></li>
          <% else %>
            <li><%= link_to image_tag('icon_library.png'), library_path, class: 'icon-library' %></li>
          <% end %>
          <% if params[:action] == "classroom_doors" %>
            <li><%= link_to '', topics_path, class: 'fa fa-home fa-2x' %></li>
          <% else %>
          <li><%= link_to '', classroom_doors_path, class: 'fa fa-question fa-2x', style: "color:rgba(5,5,5,.6)" %></li>
          <% end %>

          <% if logged_in? %>
            <%= render 'admin/dropdown' %>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-user fa-lg"></i>
                <i class="fa fa-caret-down"></i>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to t('users.settings'), edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li> <%= link_to t('sessions.log_out'), logout_path, method: "delete" %> </li>
              </ul>
            </li>
          <% else %>
            <li>
              <%# link_to t('sessions.register'), login_path %>
              <%= link_to icon('user fa-lg'), login_path %>
            </li>
          <% end %>
        <% end %>


      </ul>

    </div>
    <!--/navbar-right -->

      <ul class="collapsed-menu nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-list fa-lg"></i>
            <i class="fa fa-caret-down"></i>
          </a>
            <ul class="dropdown-menu nav" id="small-dropdown">
              <li >
                <span style="display:inline-block">
                <%= link_to '', topics_path, class: 'fa fa-home fa-2x', style: "padding-right: .5em;" %>
                <%= link_to image_tag('icon_library.png', style: "width:2.6em;"), library_path, class: '', style: "width:1em;padding-right:1em;" %>
                <%= link_to '', classroom_doors_path, class: 'fa fa-question fa-2x', style: "color:rgba(5,5,5,.9);padding-right:1em;" %>



              <% if logged_in? %>
                <% if current_admin == TRUE %>
                  <%
                  if edit_mode == 1
                    editcolor = 'edit-color'
                    editcolorbg = 'edit-color-bg'
                  else
                    editcolor = ''
                    editcolorbg = ''
                  end
                  %>
                  <%= link_to icon("fa fa-edit fa-lg #{editcolorbg}"), admin_edit_toggle_path, :method => :post, :class => editcolor %>

              <% end %>
              <%= link_to t('users.settings'), edit_user_path(current_user) %> |
              <%= link_to t('sessions.log_out'), logout_path, method: "delete" %>
              <% else %>
                <%= link_to icon('user fa-2x'), login_path %>
              <% end %>
              </span>
              </li>
              <li class="divider"></li>
              <li>
                <%= link_to 'Instructions', topic_path(1) %>
              </li>
              <li class="divider"></li>
              <% key = I18n.locale.to_s %>
              <% $av_langs_hash.each do |k, v| %>
                <% if params[:action] == "library" %>
                  <li><%= link_to v, library_path(locale: k) if k != 'na' %></li>
                <% else %>
                  <li><%= link_to v, topics_path(locale: k) if k != 'na' %></li>
                <% end %>
              <% end %>
        </li>
      </ul>

  </div>
  <!-- container -->
</div>
