<div class="navbar navbar-fixed-top navbar-special-color">
  <div>
    <div class="navbar-header">
      <% header_title = header_title(yield(:logo)) %>
      <%= link_to header_title, topics_path, id: "logo" %>
    </div>

    <div id="navbar-middle" class="navbar-header">

      <ul class="nav-list list-inline2">

        <li id="enter-button">
          <% if current_page?(controller: 'static_pages', action: 'home') %>
            <span class="center">
             <%= link_to t('classroom_doors.btn_enter_site'), classroom_doors_path, class: "btn btn-lrg major-button" %>
            </span>
          <% end %>
        </li>

             <li class="top-menu-icon small-icon">
          <% if session[:current_collumn] == 1 && @topic.present? && $collumn_icon_1.kids.present? %>
              <%= link_to image_tag($collumn_icon_1.icon.url, class: 'small-icon'), topic_path($collumn_icon_1.kids.first) %>
          <% else
               if session[:current_collumn] == 2 && @topic.present? && $collumn_icon_1.kids.present? %>
                  <%= link_to image_tag($collumn_icon_1.icon.url, class: 'small-icon'), topic_path($collumn_icon_1.kids.first) %>

              <% else %>

              <% end %>
          <% end %>
        </li>

        <li class="top-menu-icon small-icon">
          <% if session[:current_collumn] == 0 && @topic.present? && $collumn_icon_2.kids.present? %>
              <%= link_to image_tag($collumn_icon_2.icon.url, class: 'small-icon'), topic_path($collumn_icon_2.kids.first) %>
          <% else
               if session[:current_collumn] == 2 && @topic.present? && $collumn_icon_2.kids.present? %>
                  <%= link_to image_tag($collumn_icon_2.icon.url, class: 'small-icon'), topic_path($collumn_icon_2.kids.first) %>
              <% else %>

              <% end %>
          <% end %>
        </li>
        <li class="top-menu-icon small-icon">

          <% if session[:current_collumn] == 0 && @topic.present? && $collumn_icon_3.kids.present? %>
              <%= link_to image_tag($collumn_icon_3.icon.url, class: 'small-icon'), topic_path($collumn_icon_3.kids.first) %>

          <% else
               if session[:current_collumn] == 1 && @topic.present? && $collumn_icon_3.kids.present? %>
                  <%= link_to image_tag($collumn_icon_3.icon.url, class: 'small-icon'), topic_path($collumn_icon_3.kids.first) %>

              <% else %>

              <% end %>
          <% end %>

        </li>

      </ul>

    </div>
    <!--/.nav-middle -->


    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">

        <% if params[:action] != "language_select" %>
            <% if params[:action] != "home" && params[:action] != "classroom_doors" %>
            <li>
            <%= link_to t('general.watch_movie'), movie_path, class: "btn button-orange-text" %>
                <%# render 'shared/modal', button: t('general.watch_movie') , title: t('titles.title'), body: temp, the_class: "btn fat-text-button",count: 100 %>
            </li>
            <% end %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <% key = I18n.locale.to_s %>
                <%= $av_langs_hash[key] %>
                <span class="fa fa-caret-down"></span>
              </a>
              <ul class="dropdown-menu">
                <% $av_langs_hash.each do |k, v| %>
                    <li><%= link_to v, locale: k if k != 'na' %></li>
                <% end %>
              </ul>
            </li>
        <% end %>

        <% if logged_in? %>
            <li><%= link_to '', topics_path, class: 'fa fa-home' %></li>

            <li>
              <%= link_to '', library_path, class: 'fa fa-book' %>
            </li>
            <%= render 'admin/dropdown' %>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-user"></i>
                <i class="fa fa-caret-down"></i>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to t('users.settings'), edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li> <%= link_to t('sessions.log_out'), logout_path, method: "delete" %> </li>
              </ul>
            </li>

        <% else %>
            <li><%= link_to t('sessions.log_in'), login_path %></li>
            <%# link_to t('sessions.register'), signup_path, class: " button-major-orange" %>
        <% end %>
      </ul>

    </div>
    <!--/.navbar-right -->
  </div>
  <!-- container -->
</div>