<div class="navbar navbar-fixed-top navbar-special-color">
  <div >
<!-- class="container" -->
    <div class="navbar-header">

      <%= link_to t('.title'), topics_path, id: "logo" %>

    </div>

    <div id="navbar-middle" class="navbar-header">

      <ul class="nav-list list-inline3">

        <li class="top-menu-icon small-icon">
          <%  if session[:current_collumn] == 1 && @topic.present? %>
              <%= link_to image_tag($collumn_icon_1.icon.url, class: 'small-icon'), topic_path($collumn_icon_1.kids.first) %>

          <% else if session[:current_collumn] == 2 && @topic.present? %>
                  <%= link_to image_tag($collumn_icon_1.icon.url, class: 'small-icon'), topic_path($collumn_icon_1.kids.first) %>

          <% else %>
              <i class="fa fa-3x"></i>
                  &nbsp
                  &nbsp
                  &nbsp
                  &nbsp
                  &nbsp
                  &nbsp
                  &nbsp
                  &nbsp
                  &nbsp
                  &nbsp
        <% end %>
          <% end %>
        </li>

        <li class="top-menu-icon small-icon">
        <% if session[:current_collumn] == 0 && @topic.present? %>
            <%= link_to image_tag($collumn_icon_2.icon.url, class: 'small-icon'), topic_path($collumn_icon_3.kids.first) %>

            <%# else if session[:current_collumn] == 1 && @topic.present? %>
            <%# link_to image_tag($collumn_icon_3.icon.url, class: 'small-icon'), topic_path($collumn_icon_3.kids.first) %>

        <% else if session[:current_collumn] == 2 && @topic.present? %>
                <%= link_to image_tag($collumn_icon_2.icon.url, class: 'small-icon'), topic_path($collumn_icon_2.kids.first) %>
              <% else %>
                  <i class="fa fa-3x"></i>
                  &nbsp
                  &nbsp
                  &nbsp
                  &nbsp
                  &nbsp
                  &nbsp
                  &nbsp
                  &nbsp
                  &nbsp
                  &nbsp
            <% end %>
        <% end %>
        </li>
        <li class="top-menu-icon small-icon">
          <% if session[:current_collumn] == 0 && @topic.present? %>
              <%= link_to image_tag($collumn_icon_3   .icon.url, class: 'small-icon'), topic_path($collumn_icon_3.kids.first) %>

          <% else if session[:current_collumn] == 1 && @topic.present? %>
                  <%= link_to image_tag($collumn_icon_3.icon.url, class: 'small-icon'), topic_path($collumn_icon_3.kids.first) %>

                  <%# else if session[:current_collumn] == 2 && @topic.present? %>
                  <%# link_to image_tag($collumn_icon_2.icon.url, class: 'small-icon'), topic_path($collumn_icon_2.kids.first) %>
              <% else %>
                  <i class="fa fa-3x"></i>
                  &nbsp
                  &nbsp
                  &nbsp
                  &nbsp
                  &nbsp
                  &nbsp
                  &nbsp
                  &nbsp
                  &nbsp
                  &nbsp
              <% end %>
          <% end %>
        </li>

      </ul>
    </div><!--/.nav-middle -->

    <div class="navbar-header navbar-right">
      <ul class="nav navbar-nav list-inline3">

<!--white button
          <button class="btn btn-default dropdown-toggle" type="button" id="lang-dropdown" data-toggle="dropdown" aria-expanded="true">
            <%# I18n.locale.to_s %>
            <span class="caret"></span>
          </button>
          -->


        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <% key = I18n.locale.to_s %>
            <%= $av_langs_hash[key] %>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "English", locale: "en" %></li>
            <li><%= link_to "Espanol", locale: "es" %></li>
          </ul>
        </li>

        <li><%= link_to '<i class="fa fa-home"></i>'.html_safe, topics_path %></li>

        <% if logged_in? %>
            <li><%= link_to '<i class="fa fa-book"></i>'.html_safe, library_path %> </li>
            <%= render 'admin/dropdown' %>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-user"></i>
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "User Settings", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li> <%= link_to "Log out", logout_path, method: "delete" %> </li>
              </ul>
            </li>

        <% else %>
            <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>

    </div><!--/.navbar-right -->
  </div><!-- container -->
</div>