<!DOCTYPE html>
<html>

<head>
  <title><%=full_title(yield(:title)) %></title>
  <%= render 'layouts/scripts' %>
</head>


<body>

<%= render 'layouts/header' %>

<div class="container-fluid <%= "main-container" if fullscreen_mode? %>">
  <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>


  <div class="jimbo">
    <%= yield %>
  </div>

  <%# render 'layouts/footer' %>

  <%# debug(params) if Rails.env.development? %>

  <% if current_admin == TRUE && edit_mode == 1 %>
      <%# render 'admin/console' %>
  <% end %>


</div> <!-- /container -->
<% if edit_mode != 1 && params[:action] != "library"%>

  <div class="green-strip">
    <div style="z-index:200">
    You can help us reach everyone with the knowledge of health and sustainability.
    Please ￼
    <i class="fa fa-facebook-square fa-lg"></i>
    <i class="fa fa-twitter-square fa-lg"></i>
    <i class="fa fa-google-plus-square fa-lg"></i>
    share￼ this site widely and then
    <a href="https://secure.growbiointensive.org" class="btn button-major-orange">Join Us!</a>
    in making possible its completion.
  </div>
  </div>
<% end %>

<%= render 'layouts/footer' %>
</body> <!-- /body -->

</html>
